ChoiceQuestionPreview()
	.ChoiceQuestion
		&.gray
			filter Gray
			-webkit-filter grayscale(100%)
			opacity .5
		margin-top 13px
		&>h1
			line-height 30px
			position relative
			padding-left 35px
		&>table
			margin 10px 0 10px 35px;
			width 100%
			td
				line-height 30px;