ChoiceQuestionPreview()
	.ChoiceQuestion
		&.gray
			filter Gray
			-webkit-filter grayscale(100%)
			opacity .5
		margin-top 13px
		&>h1
			line-height 30px
			position relative
			padding-left 35px
		&>table
			table-layout fixed
			margin 10px 0 10px 35px;
			width 95%
			td
				vertical-align top
				line-height 30px;
				label
					word-break break-all