@import './../edit/GradeQuestion.styl'
GradeQuestionPreview()
	GradeQuestion()
	.GradeQuestion
		&.gray
			filter Gray
			-webkit-filter grayscale(100%)
			opacity .5
			.operate
				&.star-panel
					span
						cursor default
						&:hover
							&:before
								content ''
							& ~ span
								&:before
									content ''
				&.letter-panel
					span
						cursor default
						&:hover
							color $fontBaseColor
				&.char-panel
					span
						cursor default
						&:hover
							color $fontBaseColor
				&.choose-panel
					span
						cursor default
						&:hover
							color $fontBaseColor
				&.slider-panel
					.arrow
						.pointer
							cursor default
		margin-top 13px;
		&>h1
			line-height 30px;
			position relative
			padding-left 35px
		.operate
			padding 0
			margin 10px 0 10px 35px;
			&.input-panel
				width 50%
				input
					ime-mode disabled
			&.star-panel
				span.select
					&:before
						content ''
					& ~ span
						&:before
							content ''
			&.letter-panel
			&.char-panel
				span
					&.select
						color #d05e4b
						font-weight bold
			&.choose-panel
				span
					&.select
						border-color #d05e4b
						background #d05e4b
						color white
						font-weight bold