MatrixChoiceQuestionPreview()
	.MatrixChoiceQuestion
		&.gray
			filter Gray
			-webkit-filter grayscale(100%)
			opacity .5
		margin-top 13px;
		&>h1
			line-height 30px;
			position relative
			padding-left 35px
		.m-c
			margin-left 35px
		table
			border-collapse collapse
			th,td
				text-align center
				border 1px solid #ccc
				line-height 25px
			th
				background white - 1%
				&.nh
					background white - 1%
				span
					white-space nowrap
					display block
					padding 0 10px
					min-width 50px
			td.empty
			th.empty
				border-width 0 0 0 1px