StaticHeaderPreview()
	.StaticHeader
		padding 10px 0 20px 0
		h1
			text-align center
			margin 5px 0
			line-height 40px;
			font-size 30px
		p
			text-indent 28px
			margin-top 30px
			line-height 1.5
			word-break break-all
			color $fontMiddleColor - 40%
		border-bottom 1px solid #ccc