.comsys-checkbox
.comsys-radiobox
    position relative
    top -2px
    width: 18px
    height: 18px
    background: url(images/checkbox.png) no-repeat center
    display: inline-block
    vertical-align middle
    input[type=checkbox]
        opacity 0
        display: block !important
.comsys-radiobox
    background: url(images/radio.png) no-repeat center
    input[type=radio]
        opacity 0
        display block !important

.checkbox-checked
    background: url(images/checkbox-checked.png) no-repeat center
.radiobox-checked
    background: url(images/radio-checked.png) no-repeat center

.comsys-checkbox-label
.comsys-radiobox-label
    position relative