input[type*=checkbox][cs-control]
input[type*=radio][cs-control]
	width 18px
.comsys-checkbox
.comsys-radiobox
	position relative
	top -1px
	width: 15px
	height: 15px
	background: url($imagepath + 'checkbox.png') no-repeat center
	display: inline-block
	vertical-align middle
	input[type=checkbox]
		opacity 0
		display: block !important
		height 100%
		width 100%
.comsys-checkbox
	width: 15px;
	height: 15px;
.comsys-radiobox
	background: url($imagepath + 'radio.png') no-repeat center
	input[type=radio]
		opacity 0
		display block !important

.checkbox-checked
	background: url($imagepath + 'checkbox-checked.png') no-repeat center
.radiobox-checked
	background: url($imagepath + 'radio-checked.png') no-repeat center
.comsys-checkbox-label
.comsys-radiobox-label
	&.location-left
		.comsys-checkbox
		.comsys-radiobox
			margin-left 3px
	&.location-right
		.comsys-checkbox
		.comsys-radiobox
			margin-right 3px
	display inline-block
	&>*
		vertical-align middle
	line-height 15px
@import './slider.styl';
