.comsys-checkbox
	&.slider
		width: 44px
		height: 24px
		margin-right 5px
.comsys-checkbox
	&.slider
		background: url($imagepath + 'checkbox-slider.png') no-repeat center
.checkbox-checked
	&.slider
		background: url($imagepath + 'checkbox-slider-checked.png') no-repeat center