colorPicker()
	.colorpicker-container
		position absolute
	.colorpicker
		.cross
			/* @meta {"spritesheet": {"include": false}} */
			background url(images/JSColor/cross.gif) 0 0 no-repeat
		.arrow
			/* @meta {"spritesheet": {"include": false}} */
			background url(images/JSColor/arrow.gif) 0 0 no-repeat
		.pad
			background url(images/JSColor/hs.png) 0 0 no-repeat
		button
			float right