questionnaireEdit()
	.edit
		.control-item
			position relative
			border 1px solid $basecolor - 5%
			background white
			padding 55px 10px 10px 10px
			min-height 50px
			h2.control-title
				position absolute
				top 0
				left 0
				right 0
				height 45px
				line-height 45px
				text-indent 5px
				//background #ccc + 5%
				border-bottom 1px solid $basecolor - 5%
			&.select
				//box-shadow 0 0 5px 0 #ccc - 40%
				border-color $basecolor - 40%//$basecolor - 40%
				&:hover
					border-color $basecolor - 40%//transparent
			&:hover
				border-color $basecolor - 20%
		.control-static
		.control
			width 100%
		.accept
			position relative
			width 100%
			height 10px
			margin 0 auto
				&:before
					border-bottom-color blue
			&.draging
				&:before
					border-bottom-style solid
			&:before
				content ''
				height 5px
				width 100%
				display block
				border-bottom 1px dotted transparent
			&.draging
				b
					animation pointer-animate .2s
					z-index 1
					position absolute
					content ''
					width 0
					height 0
					left -15px
					top -4px
					transform rotate(45deg);
					border-color $BackColor transparent $BackColor $Color3
					border-style solid
					border-width 3px 0px 3px 20px
		.StaticHeader
		.SectionGroup
		.ChoiceQuestion
		.UnmixedText
			input[type=text]
			textarea
				border 1px solid #ccc
				line-height 19px
				box-sizing border-box
				font-family "微软雅黑","宋体","Simsun","Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
				font-size 14px;
			.edittitle
				margin 5px 0
				line-height 19px
				height 19px
				input
					width 100%
					padding-left 1px
					padding-right 1px
			.content-area
				h1
					padding-left 2px
					margin 7px 0 3px 0
					line-height 19px
					height 19px
				p
					padding-left 3px
					padding-top 3px
					min-height 120px
					line-height 19px
					word-break break-all
		.StaticHeader
			.content-area
				.background:hover
					.filecommand
						.filecommand-background
							opacity 1
						a
							margin-top 0
				.background
					background white - 5%
					width 165px
					height 165px
					float left
					margin-right 10px
					position relative
					overflow hidden
					.imageViewer
						position absolute
						line-height 165px;
						height 165px
						width 165px;
					.filecommand
						position absolute
						z-index 1
						height 100%
						width 100%
						text-align center
						line-height 165px;
						font-size 0
						left 0
						overflow hidden
						.filecommand-background
							z-index -1
							position absolute
							left 0
							height 100%
							width 100%
							opacity 0
							background rgba(100,100,100,.5)
							transition opacity .2s ease
						a
							text-decoration none;
							height 50px;
							width 50px;
							display inline-block;
							vertical-align middle
							line-height 1
							margin-top 100%
							transition margin-top .2s ease
							color $fontBaseColor
							border-radius 100%
							background white
							font-size 30px
							&.upload
								&:before
									iconfont()
									content ''
							&.delete
								font-size 23px
								color $Color7
								&:before
									position relative
									top 5px
									left -2px
									iconfont()
									content ''
						input[type*="file"]
							cursor pointer
							position absolute
							top 58px
							left 30px
							height 50px
							width 50px
							opacity 0
							border-radius 100%
				.text-content
					padding-left 175px;
				.edittitle
					height 40px;
					line-height 40px;
					input
						height 40px;
						line-height 40px;
						font-size 30px;
				h1
					margin 5px 0
					font-size 30px;
					line-height 40px;
					height 40px;
		.SectionGroup
			background $basecolor + 40%
			.accept
				&.draging
					b
						border-color $basecolor + 40% transparent $basecolor + 40% $Color3
		.ChoiceQuestion
			.rowitems
				width 40px
				text-align center;
			.edititems-tip
				height 25px
				padding-left 2px
				line-height 25px
			.content-area
				label
					vertical-align middle
					line-height 19px
					input
						position relative
						top 1px
				table
					box-sizing content-box
					margin 1px 0 5px 0
					border-collapse collapse
					width 100%
					td
						height 19px
						line-height 19px
		.control-panel
			font-size 0px
			background white
			position absolute
			height 45px
			line-height 44px
			top 0
			left 0
			right 0
			border-bottom 1px solid $basecolor - 20%
			&>*
				display inline-block
				vertical-align middle
			span.split
				width 1px
				height 100%
				background $basecolor - 20%
			a
				text-align center
				min-width 80px
				&:hover
					background #ebebeb
				&.select
					background #ebebeb
					cursor default
					text-decoration none
				&:before
					content ''
					width 24px
					height 24px
					display inline-block
					vertical-align middle
			.inline-container
				height 100%
				span.split
				&>*
					display inline-block
					vertical-align top
					white-space: nowrap;
				float right
			a.icon-bold
			a.icon-color
			a.icon-check
			a.icon-radio
				position relative
				&:before
					position relative
					top -2px
					width 13px
					height 13px
					margin-right 5px
			a.icon-bold
				&:before
					background url('images/icon-bold.png') no-repeat;
			a.icon-color
				&:before
					background url('images/icon-color.png') no-repeat;
			a.icon-check
				&:before
					background url('images/icon-check.png') no-repeat;
			a.icon-radio
				&:before
					background url('images/icon-radio.png') no-repeat;
			a.delete
				&:before
					background url('images/ash-binpng.png') no-repeat;
			a.icon-color
				b
					height 3px
					position absolute
					width 60%
					left 20%
					display block
					top 35px
	&.begin
		.ui-draggable-dragging .accept:before
			border-bottom-color transparent
		.accept:before
			border-bottom-color $Color3
		//控制条
