$basecolor=#f3f3f3;
$edithovercolor = #FDF9CD;
$control-samll-width=160px;

@import './edit.styl'
@import './preview.styl'
@import './colorPicker.styl'
@import './previewModal.styl'
@import './logic.styl'
@import './insert.styl'

@keyframes pointer-animate
	0%
		opacity 0
		left 200px
	100%
		opacity 1
		left -4px
logic();
insertModal();
previewModal();
.questionnaire
	control-insert()
	colorPicker()
	frame-base(80px,0);
	background $BackColor
	position relative
	.header
		height 80px
		padding-top 80px;
		.nav
			height 80px
			z-index 3
		.menu
			height 78px
			text-align center
			ul.ul-menu
				li
					height 78px
					a
						line-height 78px
						height 78px
		.person
			height 78px
			.login
				height 78px
				line-height 78px
	.left
		position fixed
		padding-top 78px;
		border-right 2px $BackColor + 50% solid
		left 0
		top 0
		bottom 0px
		width 200px
		text-align left
		div.line
			height 1px
			font-size 0px;
			overflow hidden;
			background #c0c0c0;
			width $control-samll-width
			margin 0 auto;
		h1
		h2
			line-height 50px
			font-size 24px;
			text-indent 20px
		h2
			font-size 20px
		.control-small
			box-shadow none
	.control-small
		text-indent 50px
		margin-bottom 10px
		float left
		background white
		line-height 40px
		text-align left;
		width 100%
		cursor pointer
		position relative
		box-shadow 0 0 5px 0 #ccc
		z-index 1
		&:before
			position absolute
			content ''
			width 43px
			height 40px
			left 0
			top 0
			background-color #d8d8d8
		&[data-type*=ChoiceQuestion]
			&:before
				background #d8d8d8 url('images/ChoiceQuestion.png') no-repeat
		&[data-type*=PicChoiceQuestion]
			&:before
				background #d8d8d8 url('images/PicChoiceQuestion.png') no-repeat
		&[data-type*=GradeQuestion]
			&:before
				background #d8d8d8 url('images/GradeQuestion.png') no-repeat
		&[data-type*=MatrixChoiceQuestion]
			&:before
				background #d8d8d8 url('images/MatrixChoiceQuestion.png') no-repeat
		&[data-type*=QuestionResponse]
			&:before
				background #d8d8d8 url('images/QuestionResponse.png') no-repeat
		&[data-type*=Section]
			&:before
				background #d8d8d8 url('images/Section.png') no-repeat
		&[data-type*=UnmixedText]
			&:before
				background #d8d8d8 url('images/UnmixedText.png') no-repeat
		&.control-libs
			margin 0 0
			padding-right 40px
			position relative
			float none
			&:before
				background-color #3399FF
			b
				position absolute
				text-indent 0
				text-align center
				right 0
				top 0
				width 40px
				line-height 40px
				&:before
					iconfont()
					content '3'
	.left-control-container
		width $control-samll-width
		margin 0 auto;
		&:after
			clear()
	//右侧上方保存条
	.header-container
		width 80%
		margin 0 auto
		.questions-title
			padding 0 10px
			font-size 0px;
			margin 10px auto
			margin-bottom 0px;
			width 100%
			height 45px;
			line-height 45px;
			background #fff
			.inline-container
				float right
	//右侧大框架
	.right
		position fixed
		padding-top 78px
		top 0
		bottom 0
		left 210px
		right 10px
		//右侧大框架内的margin
		.right-control-container
			padding-bottom 100px;
			width 80%
			margin 0 auto
		//初始化右侧编辑
		questionnaireEdit()
.questionnaire
.public-preview
	&.public
		frame-base(40px,0);
		.body
			padding-top 80px
		.header
			position fixed
			z-index 1
			top 0
			right 0
			left 0
			height 40px
			line-height 40px
			padding-top 40px
			.header-container
				background #333644
				position absolute
				top 0
				left 0
				width 100%
			h1
				display inline-block
				color white
				font-size 18px
			span
				margin-left 20px
				color white - 20%
			.container
				&.info-panel
					.col-3.template
						font-size 0
					.box
						line-height 30px
						position relative
						margin 2.5px 0
						width 100%
						display inline-block
						vertical-align middle
						&.doing
							.icon
								background $Color3
						&.finish
							.icon
								background $Color1
						&:after
							clear()
						h2
							color #ccc
							margin-left 35px
							textHidden()
						.icon
							margin-right 5px
							position absolute
							left 0
							top 0
							width 30px
							height 30px
							background #ccc
						&.select
							h2
								color $fontBaseColor
					background white
					padding 5px
					box-shadow 0 0 5px 0 #ccc
					.small
						min-width 750px
						max-width 1024px
						margin 0 auto
						position relative
						.small-toggle
							margin-top 2.5px
							position absolute
							left 0
							top 0
							width 30px
							height 30px;
							line-height 30px
							text-align center
							&:before
								font-size 16px
								iconfont()
								content '5'
						.box-container
							margin-left 40px
							height 35px
							overflow hidden
						&:hover
							.box-container
								height auto
								overflow inherit
							.small-toggle
								&:before
									content '3'
					.large
						.line
							border-bottom 1px solid #ccc
						&>.row
							padding 10px
							h3
								font-weight bold
								font-size 16px
							span.key
								color #39f
							span.doing
							span.nodo
							span.finish
								&:before
									display inline-block
									content ''
									width 14px
									height 14px
									background #ccc
									position relative
									top -1px
									vertical-align middle
									margin-right 5px
							span.doing
								&:before
									background $Color3
							span.finish
								&:before
									background $Color1
				.toggle-button
					width 100px
					height 5px
					background $Color1
					margin 0 auto
					cursor pointer
				.box-container
					font-size 0
					margin-bottom 10px
					line-height 30px
					&:after
						clear()
					.box
						float left
						margin 2.5px 0.5%
						display inline-block
						width 19%
		.preview
			margin-top 70px
			.current
				line-height 80px
				position absolute
				top 0
				left 20px
				right 20px
				border-bottom 2px solid $Color1
				.choosePerson
					position absolute
					height 40px
					width 40px
					background $Color9
					top 50%
					right 0
					margin-top -20px
					cursor pointer
					line-height 40px
					font-size 0
					text-align center
					&:before
						color white
						font-size 16px
						iconfont()
						content ''
	questionnairePreview()
	.qindex
		position absolute
		left 0
	.preview
		margin-top 20px
		margin-bottom 100px
		padding-bottom 100px
@media all and (max-width: 1024px)
	.questionnaire
		.right
			.right-control-container
				width 100%
			.header-container
				width 100%