@import './preview/TabBar.styl';
@import './preview/StaticHeader.styl';
@import './preview/SectionGroup.styl';
@import './preview/ChoiceQuestion.styl';
@import './preview/QuestionResponse.styl';
@import './preview/UnmixedText.styl';
@import './preview/PicChoiceQuestion.styl';
@import './preview/GradeQuestion.styl';
@import './preview/MatrixChoiceQuestion.styl';
questionnairePreview()
	$TabColor = #4c98c5;
	.preview
		position relative
		padding 100px 20px 400px 20px
		box-shadow 0 0 5px 0 #ccc
		background white
		min-width 750px;
		max-width 1024px;
		margin 0 auto
		h1
			min-height 30px
			word-break break-all
		.msg-box
			margin-left 10px
		.use-template
			position absolute
			top 20px
		TabBarPreview();
		StaticHeaderPreview();
		SectionGroupPreview();
		ChoiceQuestionPreview();
		QuestionResponsePreview();
		UnmixedTextPreview();
		PicChoiceQuestionPreview();
		GradeQuestionPreview();
		MatrixChoiceQuestionPreview();
