
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471828945'); /* IE9*/
  src: url('iconfont.eot?t=1471828945#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471828945') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471828945') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471828945#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before { content: "\e602"; }
.icon-help:before { content: "\e600"; }
.icon-right1:before { content: "\e601"; }
.icon-menu:before { content: "\e616"; }
.icon-max:before { content: "\e604"; }
.icon-close:before { content: "\e605"; }
.icon-cancel:before { content: "\e606"; }
.icon-min:before { content: "\e607"; }
.icon-help1:before { content: "\e608"; }
.icon-apps:before { content: "\e603"; }
.icon-message:before { content: "\e609"; }
.icon-beauty:before { content: "\e613"; }
.icon-qrcode:before { content: "\e60a"; }
.icon-config:before { content: "\e614"; }
.icon-input:before { content: "\e60b"; }
.icon-search:before { content: "\e60c"; }
.icon-down:before { content: "\e60d"; }
.icon-right2:before { content: "\e60e"; }
.icon-right:before { content: "\e60f"; }
.icon-user:before { content: "\e610"; }
.icon-down1:before { content: "\e611"; }
.icon-input1:before { content: "\e612"; }
.icon-logout:before { content: "\e615"; }
