$basefontcolor = #c9f1ff;
.bcolor
	background rgba(0,168,255,.3) !important
.color-1
	color $color1 !important
	*
		color $color1 !important
.color-2
	color $color2 !important
	*
		color $color2 !important
.color-3
	color $color3 !important
	*
		color $color3 !important
html
	body
		/* @meta {"spritesheet": {"include": false}} */
		background-image url('./../images/background.jpg')
		background-color black + 20%
		background-repeat no-repeat
		background-position center center
		background-attachment fixed
		background-size cover
		*
			color $basefontcolor
.header
	height 80px
	background rgba(255, 255, 255, .05)
	.logo
		width 120px
		height 80px
		ib()
		background url('./../images/logo.png') no-repeat center center
	.menus
		ib()
		margin-left 50px
		ul
			height 80px
			line-height 80px
			font-size 0
			li
				ib()
				text-align center
				margin-right 20px
				height 80px
				min-width 150px
				font-size 0
				border-bottom 4px solid transparent
				a
					height 80px
					display block
					padding-top 20px
					text-align center
					span
					i
						color white
						display block
						line-height 1
					span
						line-height 1.4
						font-size 16px
					i
						font-size 10px
						font-style normal
					&:hover
						text-decoration none
				&:hover
				&.active
					text-shadow 0 0 5px white
					border-color $color
	.info
		ib()
		fr()
		height 80px
		line-height 80px
		a
			padding 0 5px
			color white
			text-align center
			ib()
			i[class*='icon-']:before
				color white
			&:hover
				text-decoration none
				color $color !important
				i[class*='icon-']:before
					color $color !important
			i.icon-logout
				font-size 24px
				ib()
				position relative
				top -2px
.footer
	color white
	background-color rgba(56, 56, 56, .6)
.section-5-container
	padding 5px
	&.lr
		padding-top 0
		padding-bottom 0
	&.tb
		padding-left 0
		padding-right 0
.section-container
	padding 10px
	&.lr
		padding-top 0
		padding-bottom 0
	&.tb
		padding-left 0
		padding-right 0
.section-20-container
	padding 20px
	&.lr
		padding-top 0
		padding-bottom 0
	&.tb
		padding-left 0
		padding-right 0
.section-30-container
	padding 30px
	&.lr
		padding-top 0
		padding-bottom 0
	&.tb
		padding-left 0
		padding-right 0
.section-40-container
	padding 40px
	&.lr
		padding-top 0
		padding-bottom 0
	&.tb
		padding-left 0
		padding-right 0

::-webkit-input-placeholder
	color $basefontcolor - 40%
:-moz-placeholder
	color $basefontcolor - 40%
::-moz-placeholder
	color $basefontcolor - 40%
:-ms-input-placeholder
	color $basefontcolor - 40%

.comsys-box-window
	.comsys-box-content
		color #333
		*
			color #333
		input
		textarea
			background white
		input
			border 1px solid #ccc
		textarea
			border 1px solid #ccc
		table.list
			border-color #ccc
			th,td
				color #333
				border-color #ccc
				background rgba(0,168,255,0.1)
			th
				background rgba(8,10,24,.1)
				border-bottom 1px solid #ccc
			&.empty
				td
					background transparent
		.page-control
			a
				border 1px solid #ccc
				background rgba(0,168,255,0.1)
				&:before
					color #ccc - 20%
				&:hover
					border-color $color
					text-decoration none
					&:before
						color $color