/**
 * buttons
 */

.button
	border-radius 5px
	color white
	border 2px solid transparent;
	&.b
		background $Color1;
		&:hover
			border-color $Color1 + 20% !important
	&.c
		background $Color2;
		&:hover
			border-color $Color2 + 20% !important
	&.g
		background $Color3;
		&:hover
			border-color $Color3 + 20% !important
	&.y
		background $Color5;
		&:hover
			border-color $Color5 + 20% !important
	&.r
		background $Color7;
		&:hover
			border-color $Color7 + 20% !important
	&.w
		background white - 10%
		&:hover
			color white !important
			border-color white !important
	&.empty
		&.b
		&.c
		&.g
		&.y
		&.r
		&.w
			background transparent
		&.b
			color $Color1
			border-color $Color1
		&.c
			color $Color2
			border-color $Color2
		&.g
			color $Color3
			border-color $Color3
		&.y
			color $Color5
			border-color $Color5
		&.r
			color $Color7
			border-color $Color7
		&.w
			color white - 10%
			border-color white - 10%

//swbanner
$speed=1s;

.scroll-column
	position relative
	.s-left,.s-right
		display none;
		position absolute
		top 0px
		width 40px
		font-size 3em
		transition transform .2s ease
		text-align center
		&:before
			content ''
			display inline-block
			width 14px
			height 24px
			vertical-align middle
		&:hover
			transform scale(1.2,1.2)
	.s-content
		margin 0 40px
		&>*
			display none
		&>*:first-child
			display block
	.s-left
		left 0
		&:before
			background url(images/arrow-white-left.png) no-repeat center
	.s-right
		right 0
		&:before
			background url(images/arrow-white-right.png) no-repeat center
	&.created
		.s-left,.s-right
			display block
		.s-content
			position relative
			overflow hidden
			margin 0 40px
			&>*
				position absolute
				top 0
				left 0
				display block
				opacity 0
			&>*.animate
				transition opacity .5s,left $speed,right $speed
			&>*.a-left
				left -100%
				right 100%
			&>*.a-right
				left 100%
				right -100%
			&>*.a-current
				opacity 1
				left 0
				right 0
	&.b
		.s-left
			left 0
			&:before
				background url(images/arrow-blue-left.png) no-repeat center
		.s-right
			right 0
			&:before
				background url(images/arrow-blue-right.png) no-repeat center


ul.drop-menu
	li
		ul.sub-menu
			transition: opacity .2s;
			li
				text-align left;
				min-width 200px;
				height 50px !important
				line-height 50px !important
				background white;
				a
					display block
					height 50px !important
					line-height 50px !important
				&>ul.sub-menu
					z-index 1
					opacity 0;
					left:-9999px;
			li:hover
					&>ul.sub-menu
						opacity 1
						top 0px
						left 100%
		position relative
		&>ul.sub-menu
			opacity 1
			position: absolute;
			float: left;
			left:-9999px;
	li:hover
		&>ul.sub-menu
			z-index 1
			opacity 1
			left 0