$navHeight=84px;
$hoverColor=#1bb869;

/*general*/
html
	*
		color $fontBaseColor
	&.scroll-hide
		overflow hidden
		padding-right 18px;
		.header
			.nav
				padding-right 18px;
[v-cloak]
	display none;
.header
	padding-top $navHeight
	.nav
		border-bottom 1px solid $BackColor
		.container
			position relative
		position fixed
		z-index 2
		background #fff
		top 0
		width 100%
		height $navHeight
		.logo
			width 229px
			height $navHeight
			position absolute
			left 0px;top 0px
			background url(images/logo.png)
		.menu
			text-align right
			height $navHeight
			ul.ul-menu
				display inline-block
				text-align right
				font-size 0px
				&>li
					display inline-block;
					&>a
						display inline-block
				li
					height $navHeight
					a
						font-size 16px
						color $fontBaseColor
						font-weight bold
						text-align center
						min-width 110px
						line-height $navHeight
						height $navHeight
					&.select
					&:hover
						a
							text-decoration none
					&:hover
						&>a
							color $fontBaseColor
						background $hoverColor + 85%
						&.disabled
							a
								color $fontSmallColor
							background white
					&.select
						background $hoverColor
						&>a
							color #fff
					&.disabled
						a
							cursor default
							color $fontSmallColor
		.person
			margin-left 10px
			height $navHeight
			float right
			min-width 100px
			text-align right;
			.login
				display inline-block;
				height $navHeight
				line-height $navHeight
				font-size 0
				span
					display inline-block;
					width 1px
					background $fontSmallColor
					height 20px;
					vertical-align middle
				a
					font-size 12px
					display inline-block
					vertical-align middle
					margin 0 10px
	.banner
		position relative
.footer
	background #282828
	text-align center
	color #c1bcb3;

/*particulars*/

/*index*/
@import './pager/index.styl'
/*publicSurver*/
@import './pager/publicSurver.styl'
/*timeLine*/
@import './pager/timeLine.styl'

/*manage*/
@import './pager/manage/index.styl'
@import './pager/questionnaire/index.styl'
@import './pager/assess/index.styl'

