$fontBaseColor=#2a2727
$fontMiddleColor=#8d8d8d;
$fontSmallColor=#bbbbbb;

$fontImportantColor=#e05543;

$BackColor=#f1f1f1 - 2%;
$BColor1=#f1f1f1;
$BColor2=#333644;
$BColor3=#333333;

$Color1=#00b1df;
$Color2=#02cac4;
$Color3=#1bb869;
$Color4=#9cbf3e;
$Color5=#f6b63a;
$Color6=#ef8742;
$Color7=#e05543;
$Color8=#bf4f79;
$Color9=#8869ca;
$Color10=#e1e1e1;
$Color11=#909090;

.bcolor1
	background $Color1
.bcolor2
	background $Color2
.bcolor3
	background $Color3
.bcolor4
	background $Color4
.bcolor5
	background $Color5
.bcolor6
	background $Color6
.bcolor7
	background $Color7
.bcolor8
	background $Color8
.bcolor9
	background $Color9
.color1
	color $Color1
.color2
	color $Color2
.color3
	color $Color3
.color4
	color $Color4
.color5
	color $Color5
.color6
	color $Color6
.color7
	color $Color7
.color8
	color $Color8
.color9
	color $Color9
