$fontBaseColor=#2a2727
$fontMiddleColor=#8d8d8d;
$fontSmallColor=#bbbbbb;

$fontImportantColor=#e05543;

$BackColor=#f1f1f1 - 2%;
$BColor1=#f1f1f1;
$BColor2=#333644;
$BColor3=#333333;

$Color1=#00b1df;
$Color2=#02cac4;
$Color3=#1bb869;
$Color4=#9cbf3e;
$Color5=#f6b63a;
$Color6=#ffa60b;
$Color7=#e05543;
$Color8=#bf4f79;
$Color9=#8869ca;
$Color10=#e1e1e1;
$Color11=#909090;

for index in 1..11
	.bcolor{index}
		background $Color + index
for index in 1..11
	.color{index}
		color $Color + index
