@import './../setting.styl';

@import "./../base/core/common.styl";
@import "./../base/core/reset.styl";
@import './../../../Static/style/font.styl';
global-reset();
nested-reset();

$columns      =12;
$percent      =true;
$percent-step =2;
@import "./../base/grid/grid.styl";

/**
 * base frame
 */
@import "./../base/frame/index.styl";
frame-base(80px,40px);
container-base(1270px,900px);
button-base(32px,80px)


$baseBackColor = rgba(0,168,255,.3)

$line-height = 32px;
$themeColor = $color;
$imagepath = './../images/';
$borderradius = 2px;
$inputoutlinecolor = $color + 40%;
$combox-icon = '3';
$border-color = rgba(255,255,255,0.3)
@import "./../../../Static/style/comsys/index.styl";

@import "./frame.styl";
@import './control/button.styl';
@import './control/form.styl';

@import './overwrite-comsys.styl';

.fl
  fl()
.fr
  fr()
.overF
  tf()


