html
	*
		color $fontcolor1
.color-white
	color white
.color-black
	color black
.bcolor-white
	background-color white
.bcolor-black
	background-color black
for index in 1..6
	.color-{index}
		color $color+index
	.bcolor-{index}
		background-color $color+index
frame-base(80px,0px);
.header
	position relative
	background white
	z-index 2
	height 80px
	.logo
		width 290px
		height 80px
		background $green-back-color url(./../images/logo.png) center center
		float left
	.control-panel
		margin-right 40px
		float right
		line-height 80px
		font-size 0
		a
			margin 0 10px
		.user
			display inline-block
			vertical-align top
			font-size 0
			img
				inlineBlock()
				border-radius 100%
				height 40px
				width 40px
			span
				inlineBlock()
				padding-left 10px
			&:hover
				span
					color $color1
		.mail
			text-decoration none
			height 32px
			width 45px
			font-size 0
			inlineBlock()
			line-height 32px
			text-align center
			&:before
				font-size 28px
				content ''
				iconfont()
				position relative
				top -3px
				color #5a5a5a
			&:hover:before
				color $color1
		.close
			font-size 0
			inlineBlock()
			height 25px
			width 25px
			background url('./../images/close-normal.png') no-repeat center center
			&:hover
				background url('./../images/close-hover.png') no-repeat center center
.body
	position relative
	background $global-background-color
	.main-menu-scroll-container
		position absolute
		height 100%
		width 290px
		margin-top -80px
		padding-top 80px
		background $left-menu-background-color
		overflow hidden
	.main-content-scroll-container
		padding 1px
		margin-left 290px
		iframe
			height 100%
			width 100%
		.nav-bar
			&>*
				vertical-align middle
				font-size 14px
			line-height 25px
			margin 20px 30px
			i
				font-size 18px
				font-style normal
				&:before
					position relative
					top 1px
					iconfont()
					content '5'
			span:last-child
				color $color1
	.main-menu-scroll-container
		*
			color white
		.mCSB_container
			margin-right 0
			margin-left 0
		.mCSB_scrollTools_vertical
			left 0
			right auto
			width 6px
		p
			line-height 50px
.main-container
	margin 20px 30px
