html
	*
		color $fontcolor1
frame-base(80px,0px);
.header
	position relative
	background white
	z-index 2
	height 80px
	.logo
		width 290px
		height 80px
		background $color2 url(./../images/logo.png) center center
.body
	position relative
	.main-menu-scroll-container
		position absolute
		height 100%
		width 290px
		margin-top -80px
		padding-top 80px
		background $left-menu-background-color
		overflow hidden
	.main-content-scroll-container
		position absolute
		margin-left 290px
		background $global-background-color
		right 0
		left 0
		top 80px
		bottom 0
		overflow hidden
		iframe
			height 100%
			width 100%
	.main-menu-scroll-container
		*
			color white
		.mCSB_container
			margin-right 0
			margin-left 0
		.mCSB_scrollTools_vertical
			left 0
			right auto
			width 6px
		p
			line-height 50px
