.scroll-bar-x
	.ztree
		float left
.scroll-bar-x
	&.scroll-top
		.mCSB_horizontal.mCSB_inside > .mCSB_container
			margin-top 30px
			margin-bottom 0px
		.mCSB_scrollTools.mCSB_scrollTools_horizontal
			bottom auto
			top 0