.comsys-SingleCombox-layout
	.comsys-SingleCombox-button
		top: 5px;
		bottom: 5px;
		right: 2px;
		height: auto;
		line-height: 13px;
		&:before
			color $inputoutlinecolor
			position relative
			top -1px
			font-weight bold
.comsys-SingleCombox-drop
	border-color:$inputoutlinecolor - 20%
	box-shadow: 0px 0px 5px 0px $inputoutlinecolor - 20%
	div.comsys-SingleCombox-option
		textHidden()
		&:hover
			background $inputoutlinecolor + 80%
		&.selected
			background $inputoutlinecolor
			color white
.comsys-ButtonTextBox-layout
	&.timebutton
		.comsys-ButtonTextBox-button
			cursor default
			font-size 0
			&:before
				background url('./../icons/dataIcon.png?exclude') no-repeat center center
				position relative
				vertical-align middle
				top -1px
				color $border-color - 20%
				font-size 19px
		&.focus-outerline
			.comsys-ButtonTextBox-button
				&:before
					color $inputoutlinecolor
.comsys-ButtonTextBox-layout
	&.calendarbutton
		.comsys-ButtonTextBox-button
			cursor default
			font-size 0
			@extend .icon-calendar
			&:before
				setFontSystem()
				position relative
				vertical-align middle
				top -2px
				color #724383
				font-size 19px
		&.focus-outerline
			.comsys-ButtonTextBox-button
				&:before
					color #724383
.comsys-ButtonTextBox-layout
	&.searchbutton
		.comsys-ButtonTextBox-input
			margin-right 60px
		.comsys-ButtonTextBox-button
			width 60px
			cursor default
			font-size 0
			background #724383 !important
			line-height 28px
			&:before
				content '查询'
				vertical-align middle
				color white
				font-size 12px
		&.focus-outerline
			.comsys-ButtonTextBox-button
				background #d8f0fc
				&:before
					color white