@font-face
	font-family: 'ElegantIcons';
	src:  url('./../fonts/ElegantIcons.eot?lav3mv');
	src:  url('./../fonts/ElegantIcons.eot?lav3mv#iefix') format('embedded-opentype'),
		url('./../fonts/ElegantIcons.ttf?lav3mv') format('truetype'),
		url('./../fonts/ElegantIcons.woff?lav3mv') format('woff'),
		url('./../fonts/ElegantIcons.svg?lav3mv#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
@font-face
	font-family: 'icomoon';
	src:  url('./../fonts/icomoon.eot?lav3mv');
	src:  url('./../fonts/icomoon.eot?lav3mv#iefix') format('embedded-opentype'),
		url('./../fonts/icomoon.ttf?lav3mv') format('truetype'),
		url('./../fonts/icomoon.woff?lav3mv') format('woff'),
		url('./../fonts/icomoon.svg?lav3mv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

setFontDefault()
	font-family: 'ElegantIcons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
setFontSystem()
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
[class^="icon-"], [class*=" icon-"]
	setFontSystem()


.icon-edit-log
	&:before
		content: "\e908";
.icon-datareport
	&:before
		content: "\e909";
.icon-log
	&:before
		content: "\e90a";
.icon-folder
	&:before
		content: "\e90b";
.icon-export
	&:before
		content: "\e90c";
.icon-write
	&:before
		content: "\e90d";
.icon-pointer
	&:before
		content: "\e90e";
.icon-setting
	&:before
		content: "\e90f";
.icon-arrow-down
	&:before
		content: "\e904";
.icon-info
	&:before
		content: "\e900";
.icon-lock
	&:before
		content: "\e901";
.icon-logout
	&:before
		content: "\e902";
.icon-user
	&:before
		content: "\e903";
.icon-arrow-left
	&:before
		content: "\e91a";
.icon-arrow-right
	&:before
		content: "\e91b";
.icon-calendar
	&:before
		content: "\e916";
.icon-edit
	&:before
		content: "\e906";
.icon-delete
	&:before
		content: "\e907";
.icon-view
.icon-search
	&:before
		content: "\e905";