@font-face
	font-family: 'ElegantIcons';
	src:url('./../fonts/ElegantIcons.eot');
	src:url('./../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/ElegantIcons.woff') format('woff'),
		url('./../fonts/ElegantIcons.ttf') format('truetype'),
		url('./../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
@font-face
	font-family "Flaticon";
	src url("./Flaticon.eot");
	src url("./Flaticon.eot?#iefix") format("embedded-opentype"),
		url("./Flaticon.woff") format("woff"),
		url("./Flaticon.ttf") format("truetype"),
		url("./Flaticon.svg#Flaticon") format("svg")
	font-weight normal
	font-style normal


iconfont1()
	font-family: "ElegantIcons","微软雅黑","宋体","Simsun","Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
iconfont2()
	font-family: "Flaticon","微软雅黑","宋体","Simsun","Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";