MatrixChoiceQuestionInsert()
	.MatrixChoiceQuestion
		MatrixChoiceQuestionBase();
		.m-c
			padding-bottom 5px
			padding-right 5px
			overflow-x auto
MatrixChoiceQuestion()
	.MatrixChoiceQuestion
		.content-area
			MatrixChoiceQuestionBase();

MatrixChoiceQuestionBase()
	.m-top
		overflow-x auto
		padding 10px 0 10px 5px
		span.transparent
			opacity 0
	table
		border-collapse collapse
		th,td
			text-align center
			border 1px solid #ccc
			line-height 25px
			max-width 200px
		th
			background white - 1%
			&:hover
				background $edithovercolor
			&.nh
				background white - 1%
			span
				display block
				padding 0 10px;
				min-width 50px;
				white-space: nowrap
				textHidden()
	.m-c
		padding-top 10px
	.addrow
	.addcell
		color #ccc;
		iconfont();
		&:hover
			color $fontBaseColor
		text-decoration none
	.cell
	.row
		position relative
		cursor pointer
		input
			padding-left 10px
			line-height 25px
			border none
			height 100%
			position absolute
			top 0
			left 0
			z-index 1
			width 100%
			overflow-y hidden
		b
			iconfont()
			position absolute
			width 13px
			height 12px
			border-radius 100%
			background $Color7
			color white
			font-size 10px
			left -5px
			top -5px
			line-height 12px
			text-align center
			z-index 2
	.ctp
		background transparent;
		a
			display block
			padding 0 10px;
		&.ctp-cell
			border-width 0 0 0 1px
			a
				padding 0;
				min-width 30px;
		&.ctp-row
			border-width 1px 0 0 0
			a
				min-width 50px;
