PicChoiceQuestion()
	.PicChoiceQuestion
		.images-container
			padding 10px 0
			.image
				float left
				width 130px
				height 150px
				background #ccc + 60%
				margin-right 5px;
			&:after
				clear()
