QuestionResponseInsert()
	.QuestionResponse
		h1
			line-height 19px
		p
			color #ccc;
QuestionResponse()
	.QuestionResponse
		.editanswer
			margin 5px 0
			line-height 19px
			height 19px
			input
				width 100%
				padding-left 1px
				padding-right 1px
		.content-area
			p
				height 25px
				padding-left 2px
				padding-top 1px
				margin-bottom 1px;
				line-height 25px
				min-height inherit
				word-break break-all