SectionGroup()
	.SectionGroup
		&.fold-parent
			padding-bottom 0px
			padding-top 58px
		background $basecolor + 40%
		.accept
			&.draging
				b
					border-color $basecolor + 40% transparent $basecolor + 40% $Color3
		&>.content-area>h1
			padding-left 2px