$TabColor = #4c98c5;
TabBar()
	.TabBar
		position relative
		padding 0
		.tab-header
			position absolute
			left 0px;
			width 80px;
			top 0px;
			bottom 0px;
			line-height 50px;
			background $TabColor
			color white
			text-align center
		.tab-body
			margin-left 80px
			min-height 50px
			position relative
			.tab-scroll-left
			.tab-scroll-right
				line-height 48px;
				width 20px;
				position absolute
				top 0
				bottom 0
				text-align center
				&:before
					iconfont();
				&:hover
					background white - 5%
			.tab-scroll-left
				left 0
				&:before
					content '\34'
			.tab-scroll-right
				right 0
				&:before
					content '\35'
			.tab-content
				font-size 0
				margin 0 20px;
				min-height 50px;
				overflow hidden;
				line-height 50px;
				white-space nowrap
				.tab-item-container
					font-size 0
					display inline-block;
					vertical-align middle
				.tab-item
					cursor pointer
					color $TabColor
					vertical-align: middle;
					border 1px solid $TabColor
					padding 5px 10px;
					display inline-block;
					margin 0 5px;
					background white
					height 20px
					line-height 20px
					box-sizing content-box
					&:hover
						background $TabColor + 90%
					&.select
						background $TabColor + 10%
						color white
						i
							color white
					&.new
						color $TabColor
						i
							color $TabColor
							margin 0 5px 0 0;
							&:before
								iconfont()
								content "\4c"
							&:hover
								color $TabColor
					i
						font-style normal
						height 20px
						margin-left 5px
						color $TabColor
						&:before
							iconfont()
							content "\4d"
							position relative
							top -1px;
						&:hover
							color $Color7
					input
						border-color transparent
						width 89px;
