clear()
	display: block
	visibility: hidden
	content:""
	width: 0px
	height:0px
	line-height: 0px
	font-size:0px
	clear:both
	zoom:1
textHidden()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
setIcoFont()
	font-family: "ElegantIcons"
	line-height: 1.5
	position relative
floatRight()
	float right
floatLeft()
	float left