/**
 *reset
 */
@import "./common/core/reset.styl";
global-reset();
nested-reset();
reset-font();
reset-box-model();
reset-body();
reset-table();
reset-table-cell();
reset-html5();

/**
 * grid
 */
$columns      =12;
$percent      =true;
$percent-step =2;
@import "./common/grid/grid.styl";

/**
 * icon-font
 */
@import "../../Static/style/font.styl";

/**
 * controls
 */
@import "../../Static/style/comsys/index.styl";


@import "./common/core/frame-base.styl";
frame-base(300px,50px);
container-base(1280px,900px);
button-base(25px,100px);

