$global-background-color = #edf0f1

$left-menu-background-color = #293038
$left-menu-root-li-color = #22282e;

$fontcolor1 = #5a5a5a;
$fontcolor2 = #31485b;

$green-back-color = rgb(0,102,51);

$color1 = #49be9b;
$color2 = #3cb4f1;
$color3 = #ff7765;
$color4 = #b56efc;
$color5 = #ffb135;
$color6 = #ccf3e1;
$color7 = #d8f0fc;
$color8 = #ffe4e1;
$color9 = #f0e1fe;
$color10 = #ffefd6;
