$indexbackcolor  = #efefef;
$headernavcolor  = #282828;
$headernavcolor2 = #2c2c2c;
$headermenucolor = #4fc0e8;
$footerbackcolor = #464646;

$fontcolor1 = #222222;
$fontcolor2 = #31485b;

$color1=#00b1df;
$color2=#02cac4;
$color3=#1bb869;
$color4=#9cbf3e;
$color5=#f6b63a;
$color6=#ffa60b;
$color7=#e05543;
$color8=#bf4f79;
$color9=#6c397f;
$color10=#8869ca;
