$global-background-color = #edf0f1

$left-menu-background-color = #293038
$left-menu-root-li-color = #22282e;

$fontcolor1 = #5a5a5a;
$fontcolor2 = #31485b;

$color1=#49be9b;
$color2=#00cd99;
$color3=#3cb4f1;
$color4=#ff7765;
$color5=#b56efc;
$color6=#ffb135;
$color7=#ccf3e1;
$color8=#d8f0fc;
$color9=#ffe4e1;
$color10=#f0e1fe;
$color11=#ffefd6;
