$padding=0.1%
.row
  margin 0 (- $padding)
  overflow hidden
  [class*=col-]
  [class*=per-]
    float left
    position relative
    margin 0 $padding
    box-sizing content-box
    min-height 1px
  &:after
    display: block; visibility: hidden;content:"";width: 0px;height:0px;line-height: 0px;font-size:0px;clear:both;zoom:1;
  for b in 1..$columns
  	.col-{b}
  		width (floor(10000/$columns*b)/100)% - 2*$padding
  for c in 1..($columns - 1)
  	.offset-{c}
  		margin-left:(floor(10000/$columns*c)/100)% + $padding
  if $percent
      for d in 1..(100/$percent-step)
          $p=d*$percent-step
          .per-{$p}
              width ($p)% - 2*$padding
          .per-offset-{$p}
              margin-left: ($p)% + $padding;