@import './appeal-base.styl'
.tip-panel
	background #f2f2f2 url('./../images/tip-panel-img.png?exclude') no-repeat right bottom
	line-height 30px
	opacity .9

.top-header
	line-height 60px
	text-align center
	font-size 18px
	color #502659
	&:before
	&:after
		content ''
		ib()
		width 80px
		height 1px
		background #e3e3e3 - 20%
		margin 0 50px