html
body
	height 100%
	background transparent
	position relative
	.main
		position absolute
		height 100%
		left 0
		right 0
.panel-title
	background white
.section
	font-size 0
	padding-bottom 85px
	.section-body
		min-height 770px
		max-width 1350px
		width 100%
		overflow hidden
	.section-top
		text-align right
		line-height 85px
		height 85px
		max-width 1320px
		display block
		color white
		white-space nowrap
.frame-1
	overflow auto
	_height 1%
	.frame-left
		float left
		width 670px
	.frame-right
		float right
		width 670px