@import './../setting.styl';
@import './../base/core/common.styl';

$c1 = #eb6877;
$c2 = #77b3d4;
$c3 = #76c2af;
$c4 = #fbd641;

html
body
	height 100%
	background transparent
	position relative
	.main
		position absolute
		height 100%
		left 0
		right 0
		overflow hidden
.panel-title
	background white
.section
	font-size 0
	padding-bottom 85px
	.section-body
		min-height 770px
		max-width 1350px
		width 100%
		overflow hidden
	.section-top
		text-align right
		line-height 85px
		height 85px
		max-width 1320px
		display block
		color white
		white-space nowrap
.frame-1
	clearfix()
	.frame-left
		fl()
		width 670px
	.frame-right
		fr()
		width 670px
.frame-2
	&:after
		clear()
	.frame-left
		fl()
		width 900px
		.panel-content
			&:after
				clear()
		.panel-left
			fl()
			width 590px
		.panel-right
			fr()
			width 270px
	.frame-right
		fr()
		width 440px
		.shopping
			clearfix()
		.panel-left
			fl()
			width 200px
		.panel-right
			fr()
			width 200px

.finder
.appeal
	height 380px
	.panel-content
		height 100%
.gps
.shopping
	height 320px
	.panel-content
		height 100%

listCreate($color,$path)
	li
		line-height 31px
		&:nth-child(2n+2)
			background white
		&:hover
			a
				background $color + 90%
		a
			text-indent 20px
			clearfix()
			span
				&:before
					ib()
					content ''
					width 16px
					height 17px
					position relative
					top -1px
					margin-right 10px
					background url($path) no-repeat center center
			color #333333
			display block
			.txt
				fl()
				width 230px
				th()
				b
					color $color
			i
				fr()
				text-indent 0
				text-align left
				width 80px
				font-style normal
.shopping
	.panel
		background white
		margin-bottom 0px
		.panel-title
			text-indent 0
			height 30px
			line-height 30px
			.img-container
				margin-left 10px
				ib()
				line-height 25px
				height 25px
				width 25px
			span
			i
				ib()
				padding 0 5px
			i
				color #333 + 20%
	.panel-left
	.panel-right
		.panel-content
			padding 20px 0 0 0
			.img-container
				line-height 190px
				width 180px
				height 190px
				margin 0 auto
			h1
				line-height 50px
				height 50px
				text-align center
				font-size 16px
				color #9361a2
				span
					color #ccc
.gps
	.panel
		margin-bottom 0px
	.panel-left
		.map-container
			width 590px
			height 290px
			padding 5px
			.img-container
				text-align center
				overflow-y hidden
				height 280px
				width 580px
				line-height 280px
	.panel-right
		.panel-title
			height 50px
			line-height 50px
			background $c4
			&:before
				content ''
				ib()
				width 30px
				height 22px
				margin-right 50px
				background url('./../images/map-icon.png') no-repeat center center
		ul.time-table
			li
				line-height 60px
				height 60px
				table
					margin 0 10px
					table-layout fixed
					border-collapse collapse
					width 250px
					th
					td
						&.center
							text-align center
						height 30px
						line-height 30px
						th()
						.icon-arrow-to
							&:before
								ib()
								content ''
								width 26px
								height 8px
								position relative
								top -4px
								background url('./../images/arrow-to.png') no-repeat center center
					th
						color black
					td
						color #333 + 20%
			li:nth-child(2n+2)
				background white
.appeal
	table
		width 100%
		border-layout fixed
		border-collapse collapse
		thead
			th
				padding 0 10px
				font-size 0
				height 40px
				line-height 40px
				background $c3
				a.filter
				a.choose
					ib()
					fl()
					color white
				a.choose
					height 30px
					line-height 30px
					padding 0 10px
					border-radius 15px
					background $c3 - 20%
					margin-top 5px
				a.filter
					fr()
					&:after
						ib()
						position relative
						top -2px
						content ''
						width 58px
						height 30px
						margin-left 5px
						background url('./../images/filter-off.png') no-repeat center center
					&.on:after
						background url('./../images/filter-on.png') no-repeat center center
					&:hover
						text-decoration none
		tbody
			td
				.img-container
					height 50px
					line-height 50px
					width 50px
					fl()
					margin 6px 5px 0 6px
				height 62px
				line-height 62px
				&.gray
					color #ccc - 20%
			tr:nth-child(2n+1)
				background white
.finder
	.panel-left
	.panel-right
		fl()
		width 315px
		.panel-title
			background $c1
	.panel-right
		fr()
		.panel-title
			background $c2
	.panel-title
		color white
		height 40px
		line-height 40px
	ul.finder-list
		listCreate($c1,'./../images/l-icon.png')
	ul.findout-list
		listCreate($c2,'./../images/f-icon.png')
@media screen and (max-width 1425px)
	.section
		.section-body
			max-width 1020px
			width 1020px
	.frame-1
		.frame-left
			width 100%
			.panel-left
			.panel-right
				width 490px
		.frame-right
			fl()
			width 570px
	.frame-2
		position relative
		.frame-left
			width 100%
			.panel-right
				width 390px
		.frame-right
			position absolute
			top -450px
			right 0
			width 440px
			.shopping
				clearfix()
			.panel-left
				fl()
				width 200px
			.panel-right
				fr()
				width 200px
	.gps
		.panel-right
			ul.time-table
				li
					table
						width 370px
	.shopping
		height 380px
		.panel
			.panel-title
				height 60px
				line-height 60px
		.panel-right
		.panel-left
			.panel-content
				h1
					margin-bottom 30px
