/*padding*/
.DF-padding-10
  padding 10px
  &.lr
    padding-bottom 0
    padding-top 0
  &.tb
    padding-left 0
    padding-right 0
.DF-padding-20
  padding 20px
  &.lr
    padding-bottom 0
    padding-top 0
  &.tb
    padding-left 0
    padding-right 0
.DF-padding-30
  padding 30px
  &.lr
    padding-bottom 0
    padding-top 0
  &.tb
    padding-left 0
    padding-right 0
/*浮动*/
.DF-fl
  float left
.DF-fr
  float right
/*字体大小*/
.DF-big-size
  font-size 20px
.DF-middle-size
  font-size 16px
.DF-small-size
  font-size 12px
/*字体颜色*/
/*黑色*/
.DF-color-b
  color:#2b2626
/*红色*/
.DF-color-r
  color #eb6877
.DF-color-gray
  color #999





/*图像容器*/
.DF-image-content
  width:100%
  overflow hidden
  img
    width 100%
    min-height 240px
.text-speak
  overflow hidden
  height 16px
  margin-top 14px
  margin-bottom 15px
  span
    margin-left 30px
    height 16px
    line-height 12px
    display inline-block
  span:before
    content ""
    width 16px
    height 16px
    margin-right 10px
    display inline-block
  .red-background-box:before
    background url("../icons/student-red-background-box.png") no-repeat
  .green-background-box:before
    background url("../icons/student-green-background-box.png") no-repeat







.DF-container
  width 100%
  background #f7f4f6
  overflow hidden
.DF-title
  background #fff

