@import './appeal-base.styl'

.tip-panel
	background #f2f2f2 url('./../images/tip-panel-img.png?exclude') no-repeat right bottom
	line-height 30px
	opacity .9

.top-header
	line-height 60px
	text-align center
	font-size 18px
	color #502659
	&:before
	&:after
		content ''
		ib()
		width 80px
		height 1px
		background #e3e3e3 - 20%
		margin 0 50px
.frame-container
	c()
	.frame-right
		margin-left 0px
		margin-right 0
table.form th, table.form td {
	 line-height: 0px;
}
.photograph
	width 130px
	height 130px
tr
	height 170px
	td
		padding 20px 0
	.img-box
		text-align center
tr.bgcolor
	background white

.title-list
	vertical-align top
	.title
		height 16px
		line-height 16px
		font-size 12px
	.price
		height 50px
		line-height 50px
		font-size 11px
	.contact
		height 14px
		line-height 14px
		font-size 11px
		color #9b9b9b
		margin-top 50px
.details
	vertical-align top
	.content
		height 116px
		line-height 18px
	.contact
		height 14px
		line-height 14px
		font-size 11px
		color #9b9b9b
.Functional
	vertical-align top
	padding 20px 30px 20px 20px
	.content
		height 116px
		line-height 18px
		text-align right
		color #9b9b9b
a.btn
	min-width 60px
	margin 0 5px
.page-control
	text-align center