@import './appeal-base.styl'

.frame-container
	c()
	.frame-right
		margin-left 0px
		margin-right 0
.wid-hig
	width 100px
	height 30px
	margin-right 10px
.search
	fr()
	input
		width 120px
		height 30px
		line-height 30px
		fl()
	button
		fl()
.list-box
	fl()
	width 20%
	height auto
	.list-content
		background white
		width 95%
		margin 0 auto
	.big-pic-show
		width 100%
		height auto
	.price
		height 34px
		line-height 34px
		display block
		color #ababab
		border-bottom 1px #d4d4d4 dashed
		span
			color $color5
	p
		line-height 24px
	em
		height 30px
		line-height 30px
		display block
		background #f8f8f8
		color #bababa
		text-indent 10px
.header-pic
	display block
	float left
	margin-top 15px
.number-title
	margin-left 10px
	font-weight normal
	color #ababab
.panel .panel-title
	text-indent 12px
	font-weight normal
.container-fluid
	padding-bottom 20px
	overflow hidden
	box-sizing border-box
	width 97%
	margin 0 auto
.page-control
	margin-top 20px
.panel-default
	padding-bottom 30px
.control-title
	width 97%
	margin 0 auto
	padding 20px 0.5%
