@import './appeal-base.styl'

.tip-panel
	background #f2f2f2 url('./../images/tip-panel-img.png?exclude') no-repeat right bottom
	line-height 30px
	opacity .9

.top-header
	line-height 60px
	text-align center
	font-size 18px
	color #502659
	&:before
	&:after
		content ''
		ib()
		width 80px
		height 1px
		background #e3e3e3 - 20%
		margin 0 50px
.header-pic
	display block
	float left
	margin-top 15px
	margin-left 20px
.number-title
	margin-left 12px
	font-weight normal
.frame-container
	c()
	.frame-right
		margin-left 0px
		margin-right 0
		.bgcolor
			background white

.photograph
	width 130px
	height 130px
table.form th
	vertical-align top
td.img-paddingT
	padding-top 15px
table.form th,table.form td {
	line-height: 40px;
}
.the-contact
	margin-left 12px