@import './../setting.styl';
@import './../base/core/common.styl';

html
body
	padding 0
	margin 0
	h1
		line-height 100px
		font-size 30px
		text-align center
.row-full
	padding-top 10px
	.col-3
		line-height 30px
		i
			ib()
			font-size 36px