@import './../setting.styl';
@import './../base/core/common.styl';

html
body
  .home-page-container
    c()
  .homePageMap
    margin 20px 20px 0 350px
  .homePageTimeTest
    fl()
    width 300px
    margin 20px 0 0 20px
    .timeTitle
      height 40px
      line-height 40px
      color #c3cedc
      font-size 20px
      border-bottom 1px solid #65636b
    .timePractice
      height 40px
      font-size 20px
      margin-top 10px
      margin-bottom 40px
      letter-spacing 7.575px
      color #c3cedc
      .bigTime
        font-size 40px
        color #c3cedc
    .useSituation
      overflow hidden
      .flSection
        width 150px
        height 180px
        .userSection
          height 48px
          margin-bottom 17px
          border-top-right-radius 5px
          border-bottom-right-radius 5px
          .bigPeople
            font-size 30px
            height 48px
            line-height 48px
            width 55px
            text-align right
          .userContent
            width 88px
            span
              display block
              font-size 11px
              text-align left
            .userPeople
              height 22px
              padding-top 12px
            .userIng
              padding-top 3px
        .color1
          border 1px solid #72d03f
          border-left none
          p
            color #72d03f
          span
            color #72d03f
        .color2
          border 1px solid #a5cd44
          border-left none
          p
            color #a5cd44
          span
            color #a5cd44
        .color3
          border 1px solid #39b7f7
          border-left none
          p
            color #39b7f7
          span
            color #39b7f7
      .userAll
        width 137px
        height 180px
        border 1px solid #576980
        border-radius 5px
        .userAllPeople
          font-size 40px
          padding 32px 0 60px 0
          text-align center
          color #c3cedc
        .text
          padding-left 27px
          span
            font-size 14px
            display block
            padding-bottom 5px
            color #c3cedc
  .Receive
    width 300px
    border-radius 5px
    background rgba(0,168,255,0.3)
    opacity 0.8
    margin-top 50px
    .receivePlace
      height 46px
      line-height 46px
      font-size 16px
      color #fff
      padding 0 0 0 46px
      /* @meta {"spritesheet": {"include": false}} */
      background url("../icons/ReceiveIcon.png") no-repeat;
      background-position 17px center;
    .place
      height 40px
      border-top 1px solid #3f76a2
      overflow hidden
      p
        text-align center
        line-height 46px
      .nowPlace
        width 76px
      .speed
        width 160px
        height 6px
        border 1px solid #52759a
        border-radius 3px
        margin-top 20px
        overflow hidden
        .Route
          width 50%
          display block
          height 5px
          background #039eee
          border-radius 5px
      .speedNumber
        width 64px
  .dataIcon
    margin-top 50px
    p
      tf()
      height 26px
      font-size 14px
      color #b5b4ba
      padding-left 30px
      padding-top 10px
      margin-bottom 30px
      span
        width 13px
        height 13px
        border-radius 3px
        background #b5b4ba
        display inline-block
    .yellowIcon
      /* @meta {"spritesheet": {"include": false}} */
      background url("../icons/yellow-target.png") no-repeat;
    .greenIcon
      /* @meta {"spritesheet": {"include": false}} */
      background url("../icons/zise-target.png") no-repeat;








