@import './../setting.styl';
@import './../base/core/common.styl';

html
body
	height 100%
html
	overflow-x hidden
body
	position relative
	background-color black + 20%
	background-repeat no-repeat
	background-position center center
	background-attachment fixed
	background-size cover
	padding 1px 0 20px 0
	&:before
		position fixed
		background black + 20%
		left 0
		right 0
		top 0
		bottom 0
		content ''
		opacity 1
		transition all 1s ease
		z-index 0
	&.loadedImage
		&:before
			opacity 0 !important
	.main-frame
		position relative
		z-index 1
		width 1319px
		margin 0 auto
		margin-top 124px
		.main-drop-bar
			position absolute
			width 156px
			margin-left -213px
			min-height 200px
			top -124px
			left 0
		.main-frame-right
			float right
			width 300px
		.main-frame-left
			margin-right 310px
		&:after
			clear()
//img-container
.img-container
	font-size 0
	img
		display inline-block
		vertical-align middle
		transition opacity .2s ease
		opacity 0
	&.loaded
		img
			opacity 1
//left-drop-bar
.bar-item
	margin-bottom 2px
	background rgba(108, 57, 127, .9)
	min-height 95px
	a
		height 95px
		width 100%
		display block
		color white
		text-align center
		padding-top 30px
		span
		i
			display block
			font-style normal
			font-size 14px
		i
			font-size 10px
			margin-top 8px
.toggle-button
	position relative
	height 30px
	width 60px
	margin 0 auto
	overflow hidden
	text-align center
	line-height 20px
	color rgba(108, 57, 127, .9)
	display block
	&:before
		position absolute
		z-index -1
		display block
		content ''
		width 60px
		height 60px
		background white
		border-radius 100%
		top -30px
//logo
.logo
	width 156px
	height 123px
	background url('./../images/logo.png') white no-repeat center center
//banner
.banner
	position relative
	height 300px
	/* @meta {"spritesheet": {"include": false}} */
	background url('./../images/banner.jpg') no-repeat center center
	background-size cover
	.text-wraper
		position absolute
		top 84px
		padding 10px 0 0 20px
		height 133px
		max-width 613px
		width 100%
		background rgba(0,0,0,.5)
		& *
			color white - 5%
		h1
			font-size 30px
			line-height 2
			border-bottom 1px solid white - 5%
			display inline-block
		p
			font-size 18px
			line-height 2
		&:before
			top 0
			left 0
			position absolute
			content ''
			display block
			height 100%
			width 10px
			background #3f54a3
//menu
.horizontal-scroll-bar
	.mCSB_horizontal.mCSB_inside > .mCSB_container
		margin-bottom 0
	.mCSB_scrollTools.mCSB_scrollTools_horizontal
		height 4px
		.mCSB_dragger .mCSB_dragger_bar
			margin 0px
		.mCSB_draggerRail
			margin 1px 0
.menu
	height 130px
	white-space nowrap
	font-size 0
	line-height 130px
	li
		height 100px
		inlineBlock()
		text-align center
		width 108px
		div.img-container
			position relative
			height 64px
			width 64px
			margin 0 auto
			transition margin-top .2s ease
			line-height 64
		h1
			margin-top 24px
			color #333;
			font-size 14px
			line-height 1
			transition margin-top .2s ease
			textHidden()
		&:hover
			div.img-container
				margin-top -10px
			h1
				margin-top 34px
//remind
.remind
	li
		height 75px
		line-height 75px
		font-size 0
		a
			vertical-align middle
			display inline-block
			width 100%
			h1
			p
				font-size 14px
				line-height 2
				text-indent 10px
				textHidden()
			h1
				font-weight bold
			p
				color #585858
				line-height 1.4
				font-size 12px
			&:after
				clear()
			.img-container
				margin-right 10px
				float left
				height 48px
				width 48px
				margin 0 auto
				line-height 64
		for index in 1..5
			&:nth-child({index}n)
				a
					h1
						color $color + index
//weather
.weather
	height 130px
	.img-container
		width 120px
		height 130px
		line-height 130px
		float left
	.weather-info
		margin-left 130px
		padding-right 10px
		h1
			color #400f58
			text-align right
			font-size 50px
			line-height 80px
		p
			text-align right
			color #3f3f3f
			font-size 16px
			line-height 25px
//bottom style
.panel-container
	height 300px
	.panel.left
		float left
		width 450px
		height 100%
	.panel.right
		margin-left 460px
		height 100%
		overflow hidden
.tab-control
	.tab-head
		height 30px
		ul
			height 30px
			font-size 0
			li
				display inline-block
				height 30px
				line-height 30px
				a
					color #333
					font-size 14px
					text-align center
					display block
					min-width 80px
				&:hover
					a
						color #6c397f + 10%
				&.select
					a
						font-weight bold
						color #6c397f
	.tab-body
		.tab-content
			display none
			ul
				li.pic-news
					line-height 130px
					a
						display inline-block
						vertical-align middle
						width 100%
						height 105px
					height 130px
					line-height 130px
					.img-container
						float left
						height 105px
						width 155px
						line-height 105px
						margin-right 20px
					h1
						color #1f1d1d
						font-size 14px
						line-height 20px
						margin 20px 0 10px 0
						height 42px
						overflow hidden
					p
						color #1f1d1d
						opacity .4
						textHidden()
						line-height 1.5
				li.normal
					line-height 27px
					a
						width 100%
						height 27px
						display inline-block
						vertical-align middle
						span
						i
							color #1f1d1d
							display inline-block
							opacity .4
						span
							float left
							color #1f1d1d
							opacity 1
							width 340px
							textHidden()
						&:hover
							span
								text-decoration underline
			&:first-child
				display block
//meeting
.meeting
	&:after
		clear()
	.time-panel
		float left
		height 44px
		width 44px
		margin-right 10px
		background #7455d4
		text-align: center;
		color white
		span
			width: 100%;
			display: inline-block;
			line-height: 26px;
			font-size: 15px;
		i
			font-style normal
	p
		height: 44px;
		line-height: 13px;
		padding: 5px;
		overflow: hidden;
.datapicker-panel
	height: 270px;
	width: 245px;
	float left
.plan-panel
	position relative
	margin-left 260px
	height 270px
	.plan-list
		border-top 3px solid #3f54a3
		li
			height 33px
			border-bottom 1px solid #ccc
	.empty
		position absolute
		z-index 0
		height 270px
		width 100%
		line-height: 250px;
		text-align: center;
		font-size: 40px;
		color: #ccc;
//user
.user-panel
	position absolute
	width 60px
	height 100%
	right 0
	top 0
	background rgba(0, 0, 0, .3)
	text-align center
	.img-container
		margin 0 auto
		margin-top 10px
		height 48px
		width 48px
		line-height 48px
for index in 1..(1780-1700)/10
	@media screen and (max-width : 1780px - index*10px)
		body
			.main-frame
				left (index*10/2)px
@media screen and (max-width : 1700px)
	html
		overflow-x auto
	body
		//min-width 1550px
		.main-frame
			left 105px
			width 760px + 285px