@import './appeal-base.styl'
.tip-panel
	background #f2f2f2 url('./../images/tip-panel-img.png?exclude') no-repeat right bottom
	line-height 30px
	opacity .9

.top-header
	line-height 60px
	text-align center
	font-size 18px
	color #502659
	&:before
	&:after
		content ''
		ib()
		width 80px
		height 1px
		background #e3e3e3 - 20%
		margin 0 50px
.frame-container
	c()
	.frame-left
		width 200px
		background white
		margin-top 5px
		min-height 687px
		fl()
	.frame-right
		margin-left 0px
		margin-right: 0px;
		background white
		margin-top 7px
td
	padding-right 20px
.the-contact
	padding-left 12px
.location-right.comsys-checkbox-label
	margin-right 18px