@import 'DF-common.styl';
@import './data-center.styl';

html
body
  height 100%
  background transparent
  position relative
  .main
    position absolute
    height 100%
    left 0
    right 0
    overflow hidden
  .information
    width 1253px
    height auto
    background #f6f2f5
    padding 30px
    margin-bottom 80px
    pageJump
      table
        width 100%
        height auto
        background white
        tr
          td
            height: 30px
            line-height 30px
            border-right 1px solid #d4d4d4
            border-bottom 1px solid #d4d4d4
          td:last-child
            border-right none

        tr:last-child
          border-bottom none
          td
            border-bottom none

@media screen and (max-width : 1510px)
  html
  body
    .information
      width 850px






