@import './../setting.styl';
@import './../base/core/common.styl';

@import './../common/control/search-control.styl';
@import './../../../Static/style/font.styl';

container-base(1000px,900px);

body
	/* @meta {"spritesheet": {"include": false}} */
	background $indexbackcolor url('./../images/service-center.png') fixed
	background-size cover
.padding-top-15
	padding-top 15px !important
.margin-top-15
	margin-top 15px !important
.body
	&:after
		height 66px + 15px
	.section-header
		padding-top 1px
		height 250px
		/* @meta {"spritesheet": {"include": false}} */
		background $indexbackcolor url('./../images/banner-personal.jpg')
		background-size cover
		text-align center
		.personal-image
			overflow hidden
			height 121px
			width 121px
			margin 0 auto
			margin-top 30px
			box-shadow 0 0 10px 0 $color7
			border-radius 100%
		.personal-name
		.personal-message
			color white
		.personal-name
			font-size 20px
			line-height 40px
		.personal-message
			line-height 25px
	.small-nav-panel
		text-align center
		line-height 50px
		ul
			display inline-block
			vertical-align top
			line-height 50px
			height 50px
			font-size 0
			overflow hidden
			li
				height 50px
				line-height 50px
				display inline-block
				min-width 100px
				border-bottom 5px solid transparent
				a
					text-decoration none
					font-size 14px
					font-weight bold
					display block
				&.home
				&.collect
				&.manager
					a
						&:before
							margin-right 5px
							iconfont1()
				&.home
					a
						&:before
							content ''
				&.collect
					a
						&:before
							content ''
				&.manager
					a
						&:before
							content ''
				&:hover
					a
						color $color9 + 50%
					border-bottom 5px solid $color9 + 50%
				&.select
					a
						color $color9
					border-bottom 5px solid $color9
	.frame-left-right-ontrol
		.frame-left
			overflow inherit
			.weather
				.panel-title
					text-align right
					a
						text-decoration none
						&:before
							color #d2cbc3
							iconfont1()
							content '\e02a'
						&:hover
							&:before
								color $color6
				.panel-content
					height 200px
				.weather-content
					position relative
					h1
						font-size 48px
						color $color6
					p
						color #787878
					.weather-bottom
						position absolute
						z-index 1
						bottom 10px
						color $color9
						font-size 55px
						span
							color $color9
							margin-left 10px
							font-size 20px
					.weather-image
						position absolute
						top 50%
						right 10px
						margin-top -90px
						height 150px
						width 150px
						background url('./../images/weather.jpg') no-repeat center center
		.column
			margin-bottom 5px
			h1
				margin 12px 5px 13px 0
				color #31485b
			p
				color #616161
		.frame-right
			.row
				height 75px