@import './../setting.styl';
@import './../base/core/common.styl';

.border-left-width
  width 380px

.frame-bar-left1
  left 380px
.frame-right-margin-l
  margin-left 390px
.compile-edit
  float right
.Plant-Names
  width 100%
  height auto
  padding 0 36px
  .Plant-Names-list
    width 100%
    height 70px
    padding-top 36px
    border-bottom 1px $color6  solid
    .inputName
      width 120px
      height 30px
      line-height 30px
      font-size 15px
      padding 0
      border 0
      margin-top -10px
      float left
    .compile
      float left
  .Plant-Names-list1
    padding-top 0
    line-height 70px
  .Plant-Names-list2
    border-bottom 0
    .add-btn
      color $color1
      font-size 20px
      cursor pointer
.compile-edit
  display none
.Plant-Names-list:hover .compile-edit
  display block


