@import './../setting.styl';
@import './../base/core/common.styl';

.border-left-width
	width 380px

.frame-bar-left1
	left 380px
.frame-right-margin-l
	margin-left 390px
.compile-edit
	float right
.Plant-Names
	width 100%
	height auto
	padding 0 36px
	.Plant-Names-list
		a
		span
			display inline-block
			vertical-align middle
			line-height 68px
		span
			display none
		font-size 0
		width 100%
		line-height 70px
		border-bottom 1px $color6  solid
		input
			width 200px
		.inputName
			width 120px
			height 30px
			line-height 30px
			font-size 15px
			padding 0
			border 0
			margin-top -10px
			float left
		.compile
			float left
	.select
		padding-top 0
		a
			height 30px;
			border-radius 2px;
			line-height 26px;
			padding 1px 23px
			background-color $color1
			min-width 75px
			font-size 14px
			color white
			text-align center
		&:hover
			.compile-edit
				display none
	.Plant-Names-list2
		border-bottom 0
		span
			display inline-block
		.add-btn
			color $color1
			font-size 20px
			cursor pointer
.compile-edit
	display none
.Plant-Names-list:hover .compile-edit
	display inline-block


