@import './../setting.styl';
@import './../base/core/common.styl';

@import './../common/control/search-control.styl';
@import './../../../Static/style/font.styl';
html
	overflow-y hidden
body
	/* @meta {"spritesheet": {"include": false}} */
	background $indexbackcolor url('./../images/service-center.png') fixed
	background-size cover
.body
	.panel-title
		search-control-purple(35px, 400px)
	.panel-content
		&:after
			clear()
		table
			table-layout fixed
			width 100%
			td
			th
				line-height 35px
			td:first-child
				width 70px
				color #7c7c7c
			td
				ul
					li
						line-height 20px
						height 20px
						margin-right 10px
						text-align center
						display inline-block
						a
							text-decoration none
							color $color9
							display block
							padding 0 5px
						&:hover
						&.select
							border-radius 5px
							background $color9 + 50%
							a
								color white
						&.select
							background $color9
		.tab-panel
			font-size 0
			float left
			.tab
				cursor pointer
				padding 0 10px
				height 45px
				line-height 43px
				border-bottom 2px solid transparent
				inlineBlock()
				&:after
					iconfont1()
					content '3'
				&:hover
					color $color9 + 50%
					border-bottom-color $color9 + 50%
				&.select
					color $color9
					border-bottom-color $color9
		.word-key-panel
			margin-right 10px
			float right
			line-height 45px
			font-size 0
			a
				vertical-align middle
				text-decoration none
				text-align center
				display inline-block
				width 30px
				height 30px
				cursor pointer
				line-height 30px
				border-radius 100%
				margin-right -5px
				&:hover
				&.select
					color white
					background $color9 + 50%
				&.select
					position relative
					z-index 1
					background $color9
	.search-result
		margin 10px 0
		.section
			padding 10px 10px 20px 10px
		.section-content
			.column-container
				display inline-block
				margin 20px 20px 0 0
		.section-title
			font-weight bold
			height 40px
			line-height 40px
			width 40px
			font-size 22px
			background white
			text-align center
			boxShadow()
			color $color9