@import 'DF-common.styl';
@import 'student-center.styl';

.information-section
  width 100%
  height auto
  margin-bottom 40px
  overflow hidden
  p.title
    height 30px
    line-height 30px
    color #2b2626
    font-size 16px
    text-indent 10px
    margin-bottom 10px
    background url("../icons/DF-title-bac.png") no-repeat

.my-like
  height 34px
  line-height 34px
  font-size 16px
  color #000000
  margin-bottom 20px
.my-like:before
  float left
  content ""
  width 30px
  height 30px
  margin-right 10px
  background url("../icons/my-like-icon.png") no-repeat
.all-like
  height 34px
  line-height 34px
  font-size 16px
  color #000000
.all-like:before
  float left
  content ""
  width 30px
  height 30px
  margin-right 10px
  background url("../icons/all-like-icon.png") no-repeat



