@import 'DF-common.styl';
@import 'student-center.styl';


.DF-table-section
  float left
  margin-bottom 20px
/*带图的样式规整，一行两个的样式*/
.DF-table-1
  width 100%
.DF-table-2
  width 49%
.DF-table-2:nth-child(odd)
  margin-right 2%
.DF-table-3
  width 32%
  margin-right 2%
.DF-table-3:nth-child(3n)
  margin-right 0

@media screen and (max-width: 1390px)
  .DF-table-3
    width 49%
    margin-right 2%
  .DF-table-3:nth-child(2n)
    margin-right 0
  .DF-table-2
    width 100%
    margin-right 0


.information-section
  width 100%
  height auto
  margin-bottom 40px
  overflow hidden
  p.title
    height 30px
    line-height 30px
    color #2b2626
    font-size 16px
    text-indent 10px
    margin-bottom 10px
    background url("../icons/DF-title-bac.png") no-repeat
  .search
    float right
    width 250px
    height 30px
    overflow hidden
    input.search-input
      width: 220px
      height 30px
      border none
      background white
      padding-left 5px
      display block
      float left
    a.sublime
      width: 30px
      height: 30px
      display block
      float right
      background url("../icons/search-background.png") no-repeat;
  table
    width 100%
    height auto
    background white
    tr
      td
        height: 30px
        line-height 30px
        border-right 1px solid #d4d4d4
        border-bottom 1px solid #d4d4d4
      td:last-child
        border-right none

    tr:last-child
      border-bottom none
      td
        border-bottom none

@media screen and (max-width : 1390px)
  html
  body
    .information
      width 850px