.swbanner
    &.sw-small
        img
            position: absolute
        .swbanner-control
            z-index: 2
            position: absolute
            bottom: 0
            left: 0
            right: 0px
            height: 30px
            padding-right: 10px
            font-size: 0
            text-align: right
            background: rgba(0, 0, 0, .3)
            line-height: 30px
            a
                vertical-align: middle
                margin: 0 3px
                display: inline-block
                height: 8px
                width: 8px
                border-radius: 5px
                background: white
                &.current
                    background: #b7314a 