.btn
	transition background .2s ease
	&.p
		color white
		background #724383
		&:hover
			background #724383 - 20%
	&.gray
		color #333333
		background #d4d4d4
		&:hover
			background #d4d4d4 - 20%
	&.white
		color #333333
		background white
		&:hover
			background #724383 - 20%
			color white
	&.borderGray
		border 1px #d4d4d4 solid
		&:hover
			border 1px #724383 - 20% solid
	&.radius
		border-radius 5px