.column-container
	background white
	height 105px
	width 240px
	boxShadow()
	.column
		box-shadow none
		height 65px
		.column-icon
			margin 0px 8px 9px 8px
		h1
			font-size 14px
			margin 5px 5px 5px 0
	a
		text-decoration none
	.column-tip
		float right
		margin-right 10px
		color #c2c2c2
	&>h1
	&>a>h1
		height 40px
		font-size 15px
		text-indent 8px
		line-height 40px
		background #f9f9f9
		color $color9
		font-weight bold
		padding-right 5px
		textHidden()
.column
	border-top 1px solid transparent
	background white
	boxShadow()
	&.no-box-shadow
		box-shadow none
	height 65px
	a
		display block
		text-decoration none
		padding-top 1px
		height 100%
	h1
		font-size 16px
		margin 10px 5px 10px 0
		textHidden()
	p
		margin-right 5px
		textHidden()
	.star-panel
		margin-left 5px
		font-size 0px
		text-align left
		direction rtl
		span
			display inline-block
			cursor pointer
			padding 0 5px 0 0
			color #d7d7d7
			&:before
				iconfont1()
				content ''
			font-size 15px
			&.select
			&:hover
				&:before
					color #f6b63a
				& ~ span
					&:before
						color #f6b63a
	.column-icon
		float left
		margin 8px 15px 9px 8px