.custom-upload
	display:none
	height:146px
	line-height:146px
	text-align:center
	font-size 16px
	i
		font-size: 50px
		position: relative
		top: -6px
		vertical-align middle
.no-data-tip
	text-align center
	h1
		font-size 60px
		line-height 100px
		i
			vertical-align middle
			color $color1 + 40%
		span
			color #999999
			vertical-align middle
			font-size 16px