.custom-upload-excel
	display none
	padding 10px 10px
	a
		display block
		text-align center
		font-size 14px
		line-height 80px;
		i
			font-size 30px
			vertical-align middle
			position relative
			top -3px
		&:last-child
			border-top 1px solid $color2
		&:hover
			background $color1 + 80%
.custom-uploading
	height:146px
	line-height:146px
	text-align:center
	font-size 16px
	i
		font-size: 50px
		position: relative
		top: -6px
		vertical-align middle
.no-data-tip
	text-align center
	h1
		font-size 60px
		line-height 100px
		i
			vertical-align middle
			color $color1 + 40%
		span
			color #999999
			vertical-align middle
			font-size 16px