.form
	table-layout fixed
	width 100%
	td,th
		line-height 50px
		&.top
			vertical-align top
		&.middle
			vertical-align middle
		&.bottom
			vertical-align bottom
		&.left
			text-align left
		&.center
			text-align center
		&.right
			text-align right
	th
		font-weight bold
		padding 0 5px
	td
		table
			border none;
			width 100%