.frame-left-right-ontrol
	position relative
	.frame-left
		height 100%
		overflow auto
		floatLeft()
		position relative
		z-index 1
	.frame-bar
		background: white
		height 100%
		width: 10px
		position: absolute
		bottom: 0
		top: 0
	.frameR-right
		height 100%
		position relative
		z-index 0
	&:after
		clear()
	&.rtl
		.frame-right
			height 100%
			floatRight()
			position relative
			z-index 1
		.frameB-bar
			background: white
			height 100%
			width: 10px
			position: absolute
			bottom: 0
			top: 0
		.frame-left
			height 100%
			float none;
			overflow hidden
			position relative
			z-index 0