.personal-list
	li
		padding-left 50px
		position relative
		border-bottom 1px solid #ccc + 80%
		padding-top 10px
		padding-bottom 10px
		&:last-child
			border-bottom-color transparent
		h1
			color $color9
			font-size 18px
			line-height 40px
			textHidden()
			margin-right 150px
			&:before
				position absolute
				width 34px
				height 34px
				background url('./../images/personal-list-icon.png') no-repeat
				display block
				content ''
				left 5px
				top 14px
			span
				font-size 14px
				position absolute
				right 0
				&:before
					margin-right 5px
					iconfont1()
					content '}'
		p
			line-height 2
		div.info
			line-height 25px
			span
				padding-right 5px
				&.g
					color #818181
				&.red
					color $color7
				&.green
					color $color3
			a
				color $color1
				float right