$normal-src = './../images/menu-icon-';
$hover-src = './../images/menu-icon-hover-';
.menu-root
	font-size 0
	li
	a
		&[class*='menu-icon-']
			&:before
				content ''
				inlineBlock()
				width 17px
				height 15px
				position relative
				top -1px
				margin-right 10px
		for index in 0..16
			&.menu-icon-{index}
				&:before
					background url($normal-src + index + '.png') no-repeat center center
		text-decoration none
		font-size 16px
		line-height 55px
	&>li
		background $left-menu-root-li-color
	li
		position relative
		cursor pointer
		text-indent 20px
		.menu-sub
			display none
			li
				padding-left 10px
				background $left-menu-background-color
		&.sup
			&:before
				float right
				margin-right 10px
				content 'D'
				iconfont()
		&.select
		&.open
		&:hover
			&.sup:before
				color $color1
			&>a
				color $color1
				for index in 0..16
					&.menu-icon-{index}
						&:before
							background url($hover-src + index + '.png') no-repeat center center
		&.select
		&.open
			&.sup:before
				content 'C'
		&.select
			&:after
				content ''
				display block
				position absolute
				top 0
				right 0
				height 55px
				width 4px
				background $color1
	.menu-sub
		.menu-sub
			display none
		.sup
			&:before
				content '5'
			&.open:before
				content '3'
