.title-bar
	line-height 30px
	font-size 18px
	margin 10px 0
	&:before
		vertical-align middle
		content ''
		display inline-block
		width 4px
		height 18px
		position relative
		top -2px
		background $color
		margin-right 5px

.real-title-bar
	font-size 20px
	line-height 40px
	margin 20px 0 0 0
	i
		position: relative;
		top: 2px;
		margin-right: 10px;
