.title-bar
	line-height 30px
	font-size 20px
	margin 10px 0
	&:before
		vertical-align middle
		content ''
		display inline-block
		width 4px
		height 20px
		position relative
		top -2px
		background $color
		margin-right 5px
