.title-bar
	line-height 30px
	font-size 1６px
	font-weight bold
	margin 10px 0
	&:before
		vertical-align middle
		content ''
		display inline-block
		width 2px
		height 12px
		position relative
		top -2px
		background $color
		margin-right 5px
