.publish
	overflow-x hidden
	position relative
	&>.no-m-container
		padding 10px 20px
	h1
		line-height 50px
		font-size 18px
	.field-wrap
		span
			padding 0 5px
		&:first-child
			margin-top 0px
	.part-one
	.part-two
		position absolute
		top 0
		left 0
		width 100%
//公用的样式
.position-panel
	position absolute
	bottom 20px
	right 22px
.setperson
	b
		line-height 14px
		i
			vertical-align middle
			width 17px
			height 14px
			display inline-block
			margin-right 10px
			background url('images/arrow-blue.png') no-repeat
	.search-container
		.comsys-base
			height 27px
			line-height 27px
			.search
				background $Color1
				&:before
					font-size 14px
	.FrameLeft >.no-m-container
		padding 5px
	.FrameRight >.no-m-container
		height 100%
		overflow auto
	table.list-grid
		th,td
			line-height 35px
