@import './manageBase.styl';
body.manage-setting
	manageBase();
	.section
		padding-top 20px;
	.section > .FrameLeftRightControl
		background white;
		&>.FrameLeft
			background $BackColor;
			ul
				position relative
				li
				a
					line-height 60px;
				a
					display block
					text-indent 40px;
				li
					position relative
				li:hover
					background white - 3%
				li.select
					position absolute
					top 0
					height 60px;
					width 100%;
					background white
				li.choose
					background transparent
			.mCSB_inside > .mCSB_container
				margin-right 0
				margin-left 30px
			.mCSB_scrollTools
				right auto
				left 0
		&>.FrameRight
			h1
				font-weight bold
				font-size 16px
			.no-m-container
				height 100%
			.PanelControl
				background transparent
				box-shadow none
			.FrameLeft
				position relative
				.ztree
					float left
				.no-m-container.hasHorizontalBar
					position absolute
					bottom 0px
					right 0
					left 0
					top 70px
					height auto
					overflow hidden
					&:after
						clear()