body.state-analyze
	padding 98px 20px 20px 20px
	background $BackColor
	.topheader
		height 78px;width 100%;
		background white;
		line-height 78px;
		text-indent 20px;
		position fixed;
		top 0;left 0;
		select
			display none;
		.comsys-SingleCombox-button
			text-indent 0
	.container
		margin-bottom 20px
		max-width inherit
	.container:last-child
		margin-bottom 0px
	.section-1
		.question-panel
			h1
				line-height 35px
				text-indent 10px
			ul
				padding 0 10px
				li
					line-height 25px
					textHidden()
					span
						color $Color7
		.FrameRight
			.SmallPanelControl
				border-top 10px solid white
				padding-bottom 10px
				&:first-child
					border-top-width 0px
		.list-grid
			th
				background #e1f0f7
			tr.total
				background $BackColor
		.table-grid
			max-width 1269px
		.table-grid
			.row
				margin-top 10px
			.rows
				perspective: 2000px;
				&.setting
					.column
						.command
							top 0px
			.column
				height 150px;
				box-shadow 0 0 5px 0 #ccc;
				transition all .2s ease
				background white
				overflow hidden
				&:hover
					box-shadow 0px 0px 20px #838383
				span.thumbtack
					transform rotate(45deg)
					content ''
					display block
					position absolute
					z-index 1
					right -40px
					top -40px
					width 80px
					height 80px
					background red
					cursor pointer
					&:after
						position absolute
						z-index 2
						bottom 13px
						left 32px
						display block
						width 18px
						height 4px
						background url(images/ellipsis.png) no-repeat
						content ''
						cursor pointer
		.column
			position relative
			h1
				cursor pointer
				position relative
				font-size 18px
				line-height 1.4
				padding-left 10px;
				padding 20px 50px 0 20px
				margin-bottom 13px
				height 50px
				box-sizing content-box
				overflow hidden
				&:before
					position absolute
					left 0px
					content ''
					display block
					height 50px
					width 7px
			p
				color $fontSmallColor
				padding-left 20px
			.column-bottom
				position absolute
				bottom 0px
				width 100%
				height 40px;
				background $BackColor + 50%
				line-height 40px;
				padding 0 20px
				overflow hidden
				span.left
					floatLeft()
				span.right
					color $fontSmallColor
					floatRight()
			&.new
				span.thumbtack
					display none
				/* @meta {"spritesheet": {"include": false}} */
				background url(images/new-background2.jpg) no-repeat center
				line-height 150px;
				text-align center
				a
					text-decoration none
					display inline-block
					width 100%
					font-size 20px
					color white
					&:before
						iconfont()
						content 'L'
						vertical-align baseline
			&.c1
				h1
					color $Color3
					&:before
						background $Color3
				span.left
					color $Color3
				span.thumbtack
					background $Color3 + 50%
			&.c2
				h1
					color $Color6
					&:before
						background $Color6
				span.left
					color $Color6
				span.thumbtack
					background $Color6 + 50%
			&.c3
				h1
					color $Color7
					&:before
						background $Color7
				span.left
					color $Color7
				span.thumbtack
					background $Color7 + 50%
			.command
				position absolute
				transition top .5s ease
				top 150px
				width 100%
				height 100%
				text-align center
				line-height 150px
				&:before
					content ''
					position absolute
					height 100%
					width 100%
					display block
					background black
					opacity 0.8
				a
					vertical-align middle
					position relative
					z-index 3
					height 40px
					display inline-block
					text-align center
					width 40px
					text-decoration none
					border-radius 100%
					transition margin-top .2s ease
					&:hover
						margin-top -5px;
					b
						position absolute
						left 0
						top 50%
						color white
						line-height 1
						width 100%
					i
						position absolute
						left 50%
						top 10%
						margin-left -6px
						content ''
						width 12px
						height 13px
						display block
					&.share
						i
							background url('images/share.png') no-repeat;
					&.copy
						i
							background url('images/copy.png') no-repeat;
					&.delete
						i
							background url('images/del.png') no-repeat;
					&.edit
						i
							background url('images/edit-pen.png') no-repeat;
					&.export
						i
							background url('images/export-big.png') no-repeat;
	.PanelControl
		.panel-body
			.part-1
			.part-3
				h1
					cursor pointer
					font-size 16px
					font-weight bold
					width 80px;
					iconfont();
					&:hover
						color $Color1
				.FrameLeftRightControl
					&>.FrameLeft
					&>.FrameRight
						.FrameContainer
							height 100%
							padding 10px
							&>.PanelControl
								margin-bottom 10px;
							.center
								width 300px
								margin 0 auto;
								margin-top 100px
								.box
									cursor pointer
									height 110px
									width 300px
									line-height 110px
									text-align center
									font-size 18px
									background #fff url('images/dottd-box.png') no-repeat;
								&:hover
									opacity .8
						.panel-head
							.inline-container
								padding-right 20px
								a
									color $Color7
								a.save
									padding-right 10px
									color $Color3
						.PresentationLayer
							width 100%
							margin-top 15px
							height 400px;
							&.empty
								height auto;
								margin-bottom 15px;
						.addnewmode
							&>.panel-head
								font-size 0px
								text-indent 10px
						table
							table-layout fixed
							border-collapse collapse
							width 100%
							margin-bottom 20px;
							td
							th
								text-align center
								border 1px solid #ccc
								line-height 40px;
							th
								background #ccc + 50%
						.rtl
							background transparent
							.FrameRight
								padding 0 5px;
								.PanelControl
									margin-bottom 15px
									.panel-head
										.inline-container
											float right
											padding-right 20px
											a
												color $Color6
												iconfont()
												b
													vertical-align middle
									&.custom-row
									&.custom-cell
										.comsys-tip-span
											color #ccc
										.comsys-SingleCombox-layout
											margin-bottom 15px
										.comsys-SingleCombox-layout:last-child
											margin-bottom 5px
					&>.FrameLeft
						.FrameContainer
							padding-bottom 40px;
							ul
								li
									line-height 35px;
									margin-bottom 1px;
									text-indent 20px
									a
										display block
								li.new
									a
										color $Color1
								li.select
									a
										color $Color3
									background #fff