.comsys-ButtonTextBox-input
	margin-right 100px;
.comsys-ButtonTextBox-button.search
	background $Color3
	width 100px
	height auto;
	top -1px
	bottom -1px
	&:before
		color white;
		font-size $font-size
		font-family "微软雅黑","宋体","Simsun","Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
		content '搜索'