.comsys-checkbox
	&.slider
		width: 35px
		height: 15px
		margin-right 5px
.comsys-checkbox
	&.slider
		background: url(images/checkbox-slider.png) no-repeat center
.checkbox-checked
	&.slider
		background: url(images/checkbox-slider-checked.png) no-repeat center