.comsys-checkbox
.comsys-radiobox
    position relative
    top -1px
    width: 35px
    height: 15px
    background: url(images/checkbox.png) no-repeat center
    margin-right 5px
.comsys-radiobox
    background: url(images/radio.png) no-repeat center
.checkbox-checked
    background: url(images/checkbox-checked.png) no-repeat center
.radiobox-checked
    background: url(images/radio-checked.png) no-repeat center