.FrameLeftRightControl
	background $BackColor + 70%
	position relative
	.FrameLeft
		height 100%
		overflow auto
		floatLeft()
		position relative
		z-index 1
	.FrameBar
		background: white
		height 100%
		width: 10px
		position: absolute
		bottom: 0
		top: 0
	.FrameRight
		height 100%
		position relative
		z-index 0
	&:after
		clear()
	&.rtl
		.FrameRight
			height 100%
			floatRight()
			position relative
			z-index 1
		.FrameBar
			background: white
			height 100%
			width: 10px
			position: absolute
			bottom: 0
			top: 0
		.FrameLeft
			height 100%
			float none;
			overflow hidden
			position relative
			z-index 0