/**
 *inline container
 */
.inline-container
	display inline-block;
	vertical-align middle

.comsys-ButtonTextBox-input
	margin-right 100px;
.comsys-ButtonTextBox-button.search
	background $Color3
	width 100px
	height auto;
	top -1px
	bottom -1px
	&:before
		position relative
		top:-2px;
		color white;
		font-size 16px;
		font-family "微软雅黑","宋体","Simsun","Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
		content '搜索'