/*
 *list-grid
 */
table.list-grid
	width 100%
	th,td
		line-height 45px;
		text-align center
		&.left
			text-align left
		&.right
			text-align right
	td
		color #878787
	th
		font-weight bold
		background #ececec
	tr:nth-child(2n+1)
		background #f5f5f5
	td
		a.delete
		a.edit
		a.view
		a.viewinfo
		a.sure
		a.cancel
			&:before
				content ''
				position: relative;
				top: -2px;
				display inline-block
				vertical-align middle
				margin 0 5px
				height 13px
				width 12px
		a.delete
			&:before
				background url(images/delete.png) no-repeat;
		a.edit
			&:before
				background url(images/edit.png) no-repeat;
		a.view
			&:before
				background url(images/view.png) no-repeat;
		a.viewinfo
			&:before
				background url(images/view-info.png) no-repeat;
		a.sure
			&:before
				background url(images/sure.png) no-repeat;
		a.cancel
			&:before
				background url(images/cancel.png) no-repeat;

/**
 *
 */
.table-grid
	padding-bottom 10px
	.row
		margin-top 10px
	.column
		height 150px;
		box-shadow 0 0 3px 0 #ccc;
		background white
	.column-small
		position relative
		height 50px
		text-align center;
		line-height 50px;
		box-shadow 0 0 3px 0 #ccc;
		background white
		textHidden()
		width 100%;
		padding 0 5px
		&:hover
			box-shadow 0 0 5px 0 #ccc - 20%;
		a
			text-decoration none
		b
			cursor pointer
			iconfont()
			position absolute
			display inline-block
			height 14px
			line-height 1
			right 0
			top 0px
			&:hover
				color $Color7

/*
 *list-style-one
 */
ul.list-style-one
	li
		position relative
		margin-top 40px
		&:first-child
			margin-top 0px
		border-bottom 1px solid #f5f5f5
		&:last-child
			border-color transparent
		h1
			font-size 1.2em;
			font-weight bold
			textHidden()
			margin-right 150px;
			line-height 1.5
			span
				position absolute
				right 10px;
				font-size 16px;
				font-weight normal;
				float right
				color $fontSmallColor
			b
				position absolute
				left -15px
				display block
				width 5px
				height 27px
				background $Color3
		p
			margin 30px 0
		p.info
			color $fontSmallColor
		p.content
			height 50px
			overflow hidden
			white-space normal
			word-break break-all
			line-height 1.8
			margin-bottom 40px
	for b in 1..9
		li:nth-child({b}n)
			h1
				b
					background $Color+b !important
/*
 *list-style-two
 */
ul.list-style-two
	li
		border-top 1px solid $fontSmallColor + 80%;
		padding-left 50px
		margin-top 1px;
		position relative
		h1
			line-height 60px
			font-size 1.2em;
			font-weight bold
			textHidden()
			margin-right 20px
			padding-left 60px
			b
				left 0px;
				top 12px
				vertical-align middle
				position absolute
				width 39px
				height 39px
				display inline-block;
				background $Color3 url('images/radius.png') no-repeat
				i
					width 39px
					height 39px
					display block
					background url("images/book-icon.png") no-repeat
			span
				position absolute
				left 30px;
				font-weight bold
				font-size 16px
				margin-left 20px;
		div
			p
				color $fontMiddleColor
				margin-top 0px
				line-height 1.5
				height 45px
				overflow hidden
			button
				margin-left 40px
				floatRight()
		p
			margin 20px 0
			color $fontSmallColor
		&.doing
			h1
				span
					color $Color6
		&.done
			h1
				color $fontSmallColor
				b
					background-color $Color10
				span
					color $fontSmallColor
			p
				color $fontSmallColor + 40%
	& li:first-child
		border-width 0px
	for b in 1..9
		& li.doing:nth-child({b}n)
			h1
				b
					background-color $Color+b
ul.list-item
	&:after
		clear()
	li
		position relative
		height 70px
		line-height 70px
		width 19%
		margin 10px .5%
		padding 1px 0px 0px 80px
		floatLeft()
		h1
		p
			line-height 1
			textHidden()
		p
			color $fontSmallColor
			a
				font-size 14px
				padding 0 10px
				color $Color6
			a.delete
			a.edit
			a.power
				color $fontSmallColor
				padding 0 5px
				&:before
					content ''
					width 12px
					height 13px
					display inline-block
					margin-right 10px
			a.delete
				&:before
					background url('images/delete.png') no-repeat
			a.edit
				&:before
					background url('images/edit.png') no-repeat
			a.power
				&:before
					background url('images/power.png') no-repeat
		h1
			font-size 16px
			line-height 40px
		i
			top 9px
			left 14px
			position absolute
			border-radius 100%
			height 52px
			width 52px
			display block
			background red
			&:before
				content ''
				height 52px
				width 52px
				display block
				background url('images/big-book-icon.png') no-repeat
		for i in 1..9
			&:nth-child({i}n)
				h1
					i
						background $Color + i