p.nav-router
	color $fontMiddleColor - 30%
	line-height 55px
	a
		color $fontMiddleColor
	span
		display inline-block
		height 10px
		width 6px;
		margin 0 10px
		background url('images/arrow-router-icon.png') center;
	i
		margin 0 10px
		display inline-block
		width 11px
		height 10px
		background url('images/home_icon.png') center