.field-wrap
	line-height 30px;
	input[type="text"]
	input[type="radio"]
	input[type="checkbox"]
	select
		display none
	&.head
		margin-top 17px
		line-height 35px
.field-table
	width 100%
	border-collapse collapse
	tr
		th
		td
			line-height 45px
			.comsys-base
				height 35px
				line-height 35px
			textarea
				margin 5px 0
			&.left
				text-align left
			&.center
				text-align center
			&.right
				text-align right
			&.top
				vertical-align top
			&.field-control
				a.delete
					color $Color7
					b
						display inline-block
						width 12px
						height 13px
						margin-right 5px
						background url('images/delete.png') no-repeat
			&.label
				font-weight bold
			&.button
				line-height 0
			&.tip
				line-height 25px
				color #ccc
	table
		width 100%
		border-collapse collapse