<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<link rel="stylesheet" href="Content/style/common.css">
</head>
<body class="demo" v-cloak>
<div class="left" @click="setindex">
	<div class="left-control-container">
		<div class="control-small" data-type="ChoiceQuestion">选择题</div>
		<div class="control-small" data-type="Group">段落</div>
	</div>
</div>
<div class="right" @click="setindex">
	<div class="right-control-container">
		<div class="accept" data-index="0"></div>
		<component  v-for="item in children" v-if="item!=null"
			:is="item.type"
			:component="item"
			:index="$index"
			:selectindex = 'selectindex'
			transition="fadeInOut"
			></component>
	</div>
</div>
</body>
<script data-main="Static/js/config" main="demo" src="Static/js/libs/requirejs/require.js"></script>
</html>