<!DOCTYPE html>
<html lang="en">
<head>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>manage-index</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Content/style/common.css">
</head>
</head>
<body class="manage-index">
	<div class="header">
        <div class="nav">
            <div class="container">
                <div class="logo"></div>
                <div class="menu">
                    <ul class="ul-menu drop-menu">
                        <li class="select"><a href="javascript:;">问卷</a></li>
                        <li><a href="javascript:;">评教</a></li>
                        <li class="disabled"><a href="javascript:;">模版库</a></li>
                        <li><a href="javascript:;">管理</a></li>
                    </ul>
                    <div class="person">
                        <div class="login">
                            <a href="javascript:;" class="button w empty smaller">设置</a>
                            <span></span>
                            <a href="javascript:;">Administration</a>
                            <span></span>
                            <a href="javascript:;">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container" id="viewPanel">
            <div class="row section-1">
                <div class="col-4">
                    <div class="button-panel">
                        <a href="javascript:;" class="button g no-radius">所有</a>
                        <a href="javascript:;" class="button gray no-radius">进行中</a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="button-panel">
                        <div class="inline-container" style="min-width:380px">
                            <input type="text" tip-title="输入你想要查询的问卷" id="search" onclick="WebApi.addQuestionnaire()"/>
                        </div>
                        <a v-if="!tableView" href="javascript:;" class="button y no-radius" @click="addnew">新建活动</a>
                    </div>
                </div>
                <div class="col-1">
                    <a href="javascript:;" @click="togglelist(true)" :class="['table-show',tableView?'select':'']"></a>
                    <a href="javascript:;" @click="togglelist(false)" :class="['list-show',tableView?'':'select']"></a>
                </div>
            </div>
            <div :class="['section-2',tableView?'table-grid-background':'']">
                <div class="table-grid" v-if="tableView" v-cloak>
                    <div class="row" v-for="index in Math.ceil ( ( list.length + 1 ) / 4 )">
                        <div class="col-3 rows" v-for="col in [0,1,2,3]" v-if="(index * 4 + col - 1) < list.length">
                            <div :class="['column',status(index * 4 + col - 1)]" v-if="(index * 4 + col - 1) !== -1">
                                <span class="thumbtack" @click="togglecommand($event)"></span>
                                <h1 @click="view(list[ index * 4 + col -1 ][1],list[ index * 4 + col -1 ][0])" >
                                    {{list[ index * 4 + col -1 ][0]}}
                                </h1>
                                <p>{{list[ index * 4 + col -1 ][3]}}截止</p>
                                <div class="column-bottom">
                                    <span class="left">{{list[ index * 4 + col -1 ][1]}}</span>
                                    <span class="right">{{list[ index * 4 + col -1 ][5] | number-split}}份答案</span>
                                </div>
                                <div class="command" v-if="list[ index * 4 + col -1 ][1] == '未开始'">
                                    <a href="javascript:;" class="share"><i></i><b>分享</b></a>
                                    <a href="javascript:;" class="copy"><i></i><b>复制</b></a>
                                    <a href="javascript:;" class="delete"><i></i><b>删除</b></a>
                                    <a href="javascript:;" class="edit"><i></i><b>编辑</b></a>
                                </div>
                                <div class="command" v-if="list[ index * 4 + col -1 ][1] == '进行中'">
                                    <a href="javascript:;" class="share"><i></i><b>分享</b></a>
                                    <a href="javascript:;" class="copy"><i></i><b>复制</b></a>
                                </div>
                                <div class="command" v-if="list[ index * 4 + col -1 ][1] == '已暂停'">
                                    <a href="javascript:;" class="share"><i></i><b>分享</b></a>
                                    <a href="javascript:;" class="copy"><i></i><b>复制</b></a>
                                </div>
                                <div class="command" v-if="list[ index * 4 + col -1 ][1] == '已结束'">
                                    <a href="javascript:;" class="share"><i></i><b>分享</b></a>
                                    <a href="javascript:;" class="copy"><i></i><b>复制</b></a>
                                    <a href="javascript:;" class="delete"><i></i><b>删除</b></a>
                                </div>
                            </div>
                            <div class="column new" v-else @click="addnew">
                                <a href="javascript:;">新的活动</a>
                            </div>
                        </div>
                    </div>
                    <div class="pager-control"><div class="pager-button">加载更多...</div></div>
                </div>
                <div v-else  v-cloak>
                    <table class="list-grid">
                        <tr>
                            <th>名称</th>
                            <th>状态</th>
                            <th>发布单位</th>
                            <th>截止时间</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="row in list">
                            <td v-for="col in row.slice(0,5)">{{col}}</td>
                            <td>
                                <a href="javascript:;" class="delete"></a>
                                <a href="javascript:;" class="edit"></a>
                                <a href="javascript:;" class="view" @click="view(row[1])"></a>
                            </td>
                        </tr>
                    </table>
                    <div class="pager-control">
                        <div class="pager-bar">
                            <a href="javascript:;" class="pager-start disabled">首页</a>
                            <a href="javascript:;" class="pager-last disabled">上一页</a>
                            <a href="javascript:;" class="pager-number">1</a>
                            <a href="javascript:;" class="pager-number">2</a>
                            <a href="javascript:;" class="pager-number">3</a>
                            <span class="ellipsis">...</span>
                            <a href="javascript:;" class="pager-number">10</a>
                            <a href="javascript:;" class="pager-number">11</a>
                            <a href="javascript:;" class="pager-number">12</a>
                            <span class="ellipsis">...</span>
                            <a href="javascript:;" class="pager-number">99</a>
                            <a href="javascript:;" class="pager-number">100</a>
                            <a href="javascript:;" class="pager-number">101</a>
                            <a href="javascript:;" class="pager-next">下一页</a>
                            <a href="javascript:;" class="pager-end">尾页</a>
                            <span class="text">
                                当前第<i>10</i>在页
                            </span>
                            <span class="text">
                                共<i>101</i>页
                            </span>
                            <span class="text">
                                共<i>564561</i>条数据
                            </span>
                            <input type="text">
                            <a href="javascript:;" class="pager-go">GO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        版权所有：成都康赛信息技术有限公司
    </div>
    <modal></modal>
</body>
<script data-main="Static/js/config" main="manage/index" src="Static/js/libs/requirejs/require.js"></script>
</html>