<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="Content/style/common.css">
    <style>
    html {
        overflow: hidden
    }
    </style>
</head>

<body class="public-preview mCustomScrollbar" :style="exportStyle">
    <div class="preview">
        <component :is="header.type" :component="header"></component>
        <component :is="tab.type" :component="tab"></component>
        <component v-for="item in children" v-if="item!=null" :is="item.type" :component="item"></component>
        <input type="button" @click="submit" value="提交" class="button g">
    </div>
    <script data-main="Static/js/config" main="manage/preview" src="Static/js/libs/requirejs/require.js"></script>
</body>

</html>
