@import url('./../common/common.css');
@import url('./../modules_business/community.css');
html,
body {
	height: 100%;
	background: transparent;
}

html .img-container,
body .img-container {
	margin-top: 85px;
	height: 830px;
	width: 1352px;
};