.comsys-TextBox
    position:relative
    width:100%
    line-height:100%
    text-indent:5px
    border:1px solid $border-color
    input
        position:absolute
        left:0px
        top:0px
        background: transparent
        border:0px solid transparent
        outline:none
        background:#fff

.comsys-TipTextBox
    position:relative
    width:100%
    line-height:100%
    text-indent:5px
    border:1px solid $border-color
    span.comsys-tip-span
        color:#ccc
        font-size:12px !important
        font-size:$font-ico-size
        @extend .textHidden
        &:before
            font-family: "ElegantIcons"
            line-height: 1.5
            content:$tip-icon
    input
        position:absolute
        left:0px
        top:0px
        background: transparent
        border:0px solid transparent
        outline:none
        &:focus
            background:transparent


.comsys-ButtonTextBox-layout
    width: 100%
    position: relative
    border:1px solid $border-color
    box-sizing:border-box
    .comsys-TextBox
    .comsys-TipTextBox
        border:0px

.comsys-ButtonTextBox-input
    margin-right: 30px
    height: 100%
    position: relative
    input
        border: 0px
        background: transparent
        position: absolute
        left: 0px
        top: 0px
        outline:none

.comsys-ButtonTextBox-button
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 30px
    cursor: pointer
    text-align: center
    font-size:$font-ico-size
    &:before
        font-family: "ElegantIcons"
        line-height: 1.5
        content: $combox-icon