@import './core/common.styl';

$line-height=35px;
$border-color=#ccc;
$font-ico-size=18px;

@import './core/base.styl';
@import './protoupload/index.styl';
@import './checkradio/index.styl';

$tip-icon="r ";
$combox-icon=";";
@import './textbox/index.styl';

$disabled-color=#f4f4f4;
$mcombox-icon="?";
@import './mulcombox/index.styl';
@import './combox/index.styl';

$themeColor=#1d91b7;
$themeFontColor=#fff;

$window-border=0px;
$window-titleHeight=35px;
$close="M";
@import './window/index.styl';