@import './core/common.styl';

$line-height=27px;
$border-color=#e8e7e7;
$font-ico-size=14px;
$font-size=14px;

@import './core/base.styl';
@import './protoupload/index.styl';
@import './checkradio/index.styl';

$tip-icon="r ";
$combox-icon=";";
@import './textbox/index.styl';

$disabled-color=#f4f4f4;
$mcombox-icon="?";
@import './mulcombox/index.styl';
@import './combox/index.styl';

$themeColor= $themeColor is defined ? $themeColor : white;
$themeFontColor = #333;

$window-border=0px;
$window-titleHeight=50px;
$close="M";
@import './window/index.styl';

@import './load/index.styl';

textarea
	border 1px solid $border-color
	display inline-block
	vertical-align middle
	outline none;
	width 100%
	resize none;