textHidden()
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
iconfont()
	font-family: "ElegantIcons"
outerlineset($c)
	if $c != transparent
		border-color $c - 20%
		box-shadow: 0px 0px 5px 0px $c - 20%