html
body
	height: 100%
frame-base($headerHeight,$footerHeight)
	.body
		padding-top:$headerHeight
		min-height: 100%
		height: auto !important
		box-sizing: border-box
		margin-top:0 - $headerHeight
		margin-bottom:0 - $footerHeight
		&:after
			content:""
			display: block
			width: 100%
			height: $footerHeight
	.footer
		height:$footerHeight
		line-height $footerHeight
		text-align center

container-base($screenWidthMax,$screenWidthMin)
	.header
	.body
	.footer
		min-width:$screenWidthMin
	.container
		max-width:$screenWidthMax
		min-width:$screenWidthMin
		margin:0px auto
		.container
			max-width: inherit
			min-width: auto;
	.no-m-container
		padding 10px;

button-base($height,$minWidth)
	a.btn
		line-height:($height - 2px)
	.btn
		text-align center
		display inline-block
		vertical-align middle
		box-sizing: border-box
		min-width:$minWidth
		height:$height
		line-height $height - 4px
		outline none
		cursor pointer
		font-size 14px !important
		&.larger
			height:floor($height * 1.3)
			line-height:floor($height * 1.3) - 3px
			min-width:floor($minWidth * 1.3)
			font-size 14px + 2px !important
		&.smaller
			height:floor($height * 0.7)
			line-height:floor($height * 0.7) - 3px
			min-width:floor($minWidth * 0.7)
			font-size 14px - 2px !important
		&:hover
			text-decoration none